:host{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.active_checkbox{
    padding-left: 27px!important;


}


.date-control-width{
    width: 240px;
}

.trip-edit-card{
    width:100%;
background-color: white;

}