<div class="m-t-10 m-l-10 app-section top-bar p-10 align-items-center" style="margin-right: 18px;">
  <div class="header-item-container">
    <div class="customer-priority">
   AR
    </div>
  </div>
  <div class="header-item-container">
    <div class="row">
      <div class="Col-3 d-flex flex-column">
        <span class="font-size-regular header-label font-weight-bold ml-3">Trip No 
        </span>
       
        <span class="font-size-large font-weight-bold ml-3">22155452
        </span>
        </div>

        <div class="Col-3 d-flex flex-column">
          <span class="font-size-regular header-label  font-weight-bold ml-5">Primary driver 
          </span>
          <span class="font-size-large font-weight-bold ml-5">Alex MAX
          </span>
          </div>

          <div class="Col-3 d-flex flex-column">
            <span class="font-size-regular header-label  font-weight-bold ml-5">Secondary driver 
            </span>
            <span class="font-size-large font-weight-bold ml-5">Tuder
            </span>
            </div>
            <div class="Col-3 d-flex flex-column">
              <span class="font-size-regular header-label  font-weight-bold ml-5">Capacity 
              </span>
              <span class="font-size-large font-weight-bold ml-5"> LX0209
              </span>
              </div>

              <div class="Col-3 d-flex flex-column">
                <span class="font-size-regular header-label  font-weight-bold ml-5">Road Loss 
                </span>
                <span class="font-size-large font-weight-bold ml-5"> 1800
                </span>
                </div>  
    </div>

    <div class="row seond-line mt-2">
      <div class="Col-3 d-flex flex-column">
        <span class="font-size-regular header-label  font-weight-bold ml-3">Total Prod Del
        </span>
        <span class="font-size-regular header-label  font-weight-bold ml-3">1979
        </span>
        </div>

        <div class="Col-3 d-flex flex-column">
          <span class="font-size-regular header-label  font-weight-bold ml-5">Total Prod Del Kg
          </span>
          <span class="font-size-regular header-label  font-weight-bold ml-5">2254
          </span>
          </div>

          <div class="Col-3 d-flex flex-column">
            <span class="font-size-regular header-label font-weight-bold ml-5">Tri Hours 
            </span>
            <span class="font-size-large font-weight-bold ml-5">9.36
            </span>
            </div>
        

               
    </div>



    <div class="mb-1">
      <span class="font-size-large font-weight-bold mr-1">
      </span>
  
      <span class="font-size-regular mr-2 cust-name-label"></span>
      <span class="badge badge-pill badge-success status-active"
        ></span>
      <span class="badge badge-pill badge-warning status-hold"
       ></span>
      <span class="badge badge-pill badge-danger status-inactive"
        ></span>
    </div>

  </div>
  <div class="header-item-container ml-auto">
    <div class="d-flex flex-row align-items-center ml-auto">
      <div class="d-flex flex-column mr-4">
        <span class="font-size-regular header-label">Lock User ID </span>
        <span class="font-size-regular font-weight-bold"> Sivasamy</span>
      </div>
      <div class="d-flex flex-column mr-4">
        <span class="font-size-regular header-label">Invoiceble hours</span>
        <span class="font-size-regular font-weight-bold">9.00</span>
      </div>
      <div class="d-flex flex-column mr-4">
        <span class="font-size-regular header-label">Total Trip Wt</span>
        <span class="font-size-regular font-weight-bold">1405</span>
      </div>
      <div class="d-flex flex-column">
        <span class="font-size-regular mb-1 header-label">Remaining Qty</span>
        <span class="font-size-regular font-weight-bold">8266</span>
      </div>
    </div>
  </div>


  
</div>
<div class="trip-edit-card my-2 mx-2 p-10" style="margin-right: 18px;">
  <div class="d-flex flex-row mt-2 ml-2">
    <div class="d-flex flex-column mr-2 ml-4">
    <label class="d-block mb-0">Test</label>
    <div class="input-group">
      <input class="form-control"/>
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column mr-2 ml-4">
    <label class="d-block mb-0">Test</label>
    <div class="input-group">
      <input class="form-control"/>
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column mr-2 ml-4">
    <label class="d-block mb-0">Test</label>
    <div class="input-group">
      <input class="form-control"/>
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column mr-2 ml-4">
    <label class="d-block mb-0">Test</label>
    <div class="input-group">
      <input class="form-control"/>
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column mr-2 ml-4">
    <label class="d-block mb-0">Test</label>
    <div class="input-group">
      <input class="form-control"/>
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column mr-2 ml-4">
    <label class="d-block mb-0">Test</label>
    <div class="input-group">
      <input class="form-control"/>
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column mr-2 ml-4">
    <label class="d-block mb-0">Test</label>
    <div class="input-group">
      <input class="form-control"/>
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
    </div>



    <div class="d-flex flex-row mt-2 ml-4">
      <div class="d-flex flex-column mr-2">
      <label class="d-block mb-0">Test</label>
      <div class="input-group">
        <input class="form-control"/>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column ml-4">
      <label class="d-block mb-0">Test</label>
      <div class="input-group">
        <input class="form-control"/>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  
    <div class="d-flex flex-column ml-4">
      <label class="d-block mb-0">Test</label>
      <div class="input-group">
        <input class="form-control"/>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  
    <div class="d-flex flex-column ml-4">
      <label class="d-block mb-0">Test</label>
      <div class="input-group">
        <input class="form-control"/>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  
    <div class="d-flex flex-column ml-4">
      <label class="d-block mb-0">Test</label>
      <div class="input-group">
        <input class="form-control"/>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  
    <div class="d-flex flex-column ml-4">
      <label class="d-block mb-0">Test</label>
      <div class="input-group">
        <input class="form-control"/>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  
    <div class="d-flex flex-column ml-4">
      <label class="d-block mb-0">Test</label>
      <div class="input-group">
        <input class="form-control"/>
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
      </div>
  

    



</div>







<div class="table-container-row loading">
    <div class="table-wrapper">
      <kendo-grid class="tab-grid"
      [data]="">
      <kendo-grid-checkbox-column showSelectAll="true" width="20">
      </kendo-grid-checkbox-column>
      <kendo-grid-column field="ID" title="Trip No" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Approved" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Status" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Trailer No" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Capacity" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Primeover No" width="140">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Start Depot" width="120">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="End Depot" width="120">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Primary Driver No" width="170">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Primary Driver Name" width="185">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Sub Driver No" width="140">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Sub Driver Name" width="155">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Start Date" width="105">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Start Time" width="105">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="End Date" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="End Time" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Trip Hours" width="105">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Invoiceble Hours" width="170">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Odo Start" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Odo End" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Trip KM" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="WB. Beofre Refill" width="160">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="WB. Upon Return" width="160">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Road Loss" width="100">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Total Prod Del" width="140">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Total Prod Del KG" width="160">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Total Trip WT" width="130">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Remaining Quantity" width="190">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Cancel Reason" width="140">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Comments" width="120">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Invoiceble" width="120">
      </kendo-grid-column>
      <kendo-grid-column field="Description" title="Lock User ID" width="120">
      </kendo-grid-column>

      <ng-template kendoGridDetailTemplate let-dataItem>
      <kendo-grid style="height: 100%; width: 65%"
        [resizable]="true">
        <kendo-grid-column field="Description" title="Remaining Quantity" width="190">
        </kendo-grid-column>
        <kendo-grid-column field="Description" title="Cancel Reason" width="140">
        </kendo-grid-column>
        <kendo-grid-column field="Description" title="Comments" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="Description" title="Invoiceble" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="Description" title="Lock User ID" width="120">
        </kendo-grid-column>
    
      </kendo-grid>
    </ng-template>
      
      
      
      


     
  
    </kendo-grid>
  