/* Add your customizations of layout here */

@import '_layout_variables';

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.height-fit-content {
    height: fit-content;
}

.app-form-group{
    margin-bottom: 1rem;

    label{
        margin-bottom: $labelMarginBottom;
        color: $labelColor;   
    }

    .app-form-control{
        display: block;
        width: 100%;
        padding: $inputPadding;
        font-size: $inputFontSize;
        line-height: $inputLineHeight;
        color: $inputColor;
        background-color: $inputBgColor;
        border-radius:$inputBorderRadius;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &:focus{
            color: #495057;
            background-color: #fff;
            // border-color: $inputFocusBorderColor;
            // box-shadow: $inputFocusBoxShadaow;
        }
        &:disabled{
            background: #f3f2f7;
        }
       
    }

    .app-form-control-lg{
        display: block;
        width: 100%;
        color: $inputColor;
        background-color: $inputBgColor;
        border-radius:$inputBorderRadius;
        padding: $inputPaddingLarge;
        font-size: $inputFontSizeLarge;
        line-height: $inputLineHeightLarge;
        border-radius: $inputBorderRadiusLarge;
        &:focus{
            color: #495057;
            background-color: #fff;
            // border-color: $inputFocusBorderColor;
            // box-shadow: $inputFocusBoxShadaow;
        }
        &:disabled{
            background: #f3f2f7;
        }
    }
    .app-form-control-sm{
        display: block;
        width: 100%;
        color: $inputColor;
        background-color: $inputBgColor;
        padding: $inputPaddingSmall;
        font-size: $inputFontSizeSmall;
        line-height: $inputLineHeightSmall;
        border-radius: $inputBorderRadiusSmall;
        &:focus{
            color: #495057;
            background-color: #fff;
            // border-color: $inputFocusBorderColor;
            // box-shadow: $inputFocusBoxShadaow;
        }
        &:disabled{
            background: #f3f2f7;
        }
    }

    .k-textbox {
        height: auto;
    }

    .k-textarea {
        min-height: $textAreaMinHeight;
    }

   .k-textbox-container.k-state-focused > .k-label {
        transform: translate(-0.75rem, -0.6rem) translate(-1px, -1.125em) translate(-12.5%, -9.375%) scale(0.75);
    }


    .k-datepicker {
        padding: 0 !important;
        // Style if using customized icon for select instead of default kendo icon
        // .k-select {
        //     background-color: $datePickerSelectBgColor;
        //     background-image: none;
        //     > .k-icon {
        //         background-image:url('assets/media/calendar.svg'); 
        //         &::before {
        //             display: none;
        //         }
        //     }
        // }
    }

    .k-switch {
        border-radius: $switchBorderRadius;
        width: $switchWidth;
        background: $switchBackground;
        border: $switchBorder;
        font-size: $switchFontSize;
        .k-switch-container {
            border-radius: $switchBorderRadius;
            padding: $switchContainerPadding;
            transition: $switchContainerTransition;
            .k-switch-handle {
                border-radius: $switchHandleBorderRadius;
                width: $switchHandleWidth;
                height: $switchHandleHeight;
                transition: $switchHandleTransition;
            }
        }
    }
    // .k-switch-on .k-switch-container {
    //     color: $switchOnColor;
    //     background-color: $switchOnBgColor;
    // }
    // .k-switch-off .k-switch-container {
    //     color: $switchOffColor;
    //     background-color: $switchOffBgColor;
    // }

    .k-button {
        border-radius: $buttonBorderRadius;
        // padding: $buttonPadding;
        font-size: $buttonFontSize;
        line-height: $buttonLineHeight;
        &:hover {
            border-color: $buttonHoverBorderColor;
            color: $buttonHoverColor;
            background-color: $buttonHoverBgColor;
        }
        .k-primary {
            border-color: $buttonPrimaryBorderColor;
            color: $buttonPrimaryColor;
            background-color: $buttonPrimaryBgColor;
            &:hover {
                border-color: $buttonPrimaryHoverBorderColor;
                color: $buttonPrimaryHoverColor;
                background-color: $buttonPrimaryHoverBgColor;
            }
        }
        [disabled], [disabled] .k-button {
            opacity: $buttonDisabledOpacity;
            filter: $buttonDisabledFilter;
        }
    }

    .k-combobox {
        padding: 0 !important;
        .k-dropdown-wrap{
            border-color: $comboboxDropdownWrapBorderColor;
            color: $comboboxDropdownWrapColor;
            background-color: $comboboxDropdownWrapBgColor;
            .k-input {
                padding: $comboboxInputPadding;
                height: $comboboxInputHeight;
            }
            .k-select {
                border-radius: $comboboxSelectBorderRadius;
                padding: $comboboxSelectPadding;
                // Style if using custom icons for select
                // > .k-icon {
                //     background-image: url('assets/media/dropdown.svg');
                //     &::before {
                //         display: none;
                //     }
                // }
            }
        }
    }

    .k-dropdown {
        padding: 0 !important;
        .k-dropdown-wrap{
            border-color: $dropdownDropdownWrapBorderColor;
            color: $dropdownDropdownWrapColor;
            background-color: $dropdownDropdownWrapBgColor;
            .k-input {
                padding: $dropdownInputPadding;
                height: $dropdownInputHeight;
            }
            .k-select {
                border-radius: $dropdownSelectBorderRadius;
                padding: $dropdownSelectPadding;
                // Style if using custom icons for select
                // > .k-icon {
                //     background-image: url('assets/media/dropdown.svg');
                //     &::before {
                //         display: none;
                //     }
                // }
            }
        }
    }

    .k-multiselect {
        padding: 0 !important;
        .k-multiselect-wrap {
            &::before {
                width: $multiselectWrapBeforeWidth;
                height: $multiselectWrapBeforeHeight; 
            }
        }
    }

    .k-window {
        border-radius: $windowBorderRadius;
        padding: $windowPadding;
        border-color: $windowBorderColor;
        color: $windowColor;
        background-color: $windowBgColor;
        .k-window-titlebar {
            border-color: $windowTitleBarBorderColor;
            color: $windowTitleBarColor;
            background-color: $windowTitleBarBgColor;
            border-top-left-radius: $windowTitleBarBorderTopLeftRadius;
            border-top-right-radius: $windowTitleBarBorderTopRightRadius;
            padding: $windowTitleBarPadding;
            .k-window-title {
                margin: $windowTitleMargin;
                font-size: $windowTitleFontSize;
                line-height: $windowTitleLineHeight;
            }
            .k-window-actions {
                margin: $windowActionsMargin;
                line-height: $windowActionsLineHeight;
            }
        }
        .k-window-content, .k-prompt-container {
            padding: $windowContentPadding;
            color: $windowContentColor;
            background: $windowContentBg;
        }
        .k-dialog-buttongroup {
            border-bottom-right-radius: $dialogBtnGroupBorderBottomRightRadius;
            border-bottom-left-radius: $dialogBtnGroupBorderBottomLeftRadius;
            padding: $dialogBtnGroupPadding;
            border-width: $dialogBtnGroupBorderWidth;
            border-style: $dialogBtnGroupBorderStyle;
            border-color: $dialogBtnGroupBorderColor;
        }
    }

    
    .k-grid {
        border-color: $gridBorderColor;
        color: $gridColor;
        background-color: $gridBgColor;
        .k-grid-header {
            font-size: $gridHeaderFontSize !important;
            .k-grid th, .k-grid td {
                padding: $gridThPadding;
                border-width: $gridThBorderWidth;
            }
            .k-filter-row {
                line-height: $gridFilterRowLineHeight;
            }
        }
        .k-filtercell .k-filtercell-wrapper {
            > .k-textbox {
                width: $gridFilterCellTextboxWidth;
                min-width: $gridFilterCellTextboxMinWidth;
            }
        }
        .k-filtercell .k-filtercell-operator > .k-dropdown {
            width: auto !important;
        }
    }

    .k-popup {
        border-radius: $popupBorderRadius;
        margin: $popupMargin;
    }

    
}

.k-textbox:disabled, .k-textbox[disabled], .k-textbox.k-state-disabled {
    background: #f3f3f3 !important;
}

.k-state-disabled [disabled], .k-state-disabled .k-state-disabled, .k-widget[disabled] [disabled], .k-widget[disabled] .k-state-disabled {
    background: #f3f3f3 !important;
}

.form-control {
    height: calc(1.5em + 0.75rem);
}

.overflow-y {
    overflow-y: scroll;
}

.w-fill {
    width: -webkit-fill-available;
}

.customer-priority {
    background: #e2e2e2;
    padding: 7px;
    border-radius: 50%;
    width: 42px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }

  .vertical-divider {
    border: 1px dashed #f1f1f1;
}

  // Custom Switch Button 
  // Switch Button 
.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 62px;
    height: 24px;
    padding: 1px;
    background-color: #f9f9f9;
    border-radius: 18px;
    cursor: pointer;
    margin-bottom: 0px !important;
  }
  
  .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &:checked {
        &~ .switch-label {
            background: #3bc746c7;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
            }
        } 
        &~ .switch-handle {
            left: 40px;
            box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
        }
    }
  }
  
  .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: inherit;
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.12), inset 0 0 1px rgba(123, 105, 105, 0.83);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
    &:before {
        content: attr(data-off);
        right: 11px;
        color: #aaa;
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        line-height: 1;
        -webkit-transition: inherit;
        -moz-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
    }
    &:after {
        content: attr(data-on);
        left: 11px;
        color: white;
        text-shadow: 0 1px rgba(0, 0, 0, 0.2);
        opacity: 0;
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        line-height: 1;
        -webkit-transition: inherit;
        -moz-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
    }
  }
  
  .switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
    background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;
        width: 12px;
        height: 12px;
        background: #f9f9f9;
        border-radius: 6px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
        background-image: -webkit-linear-gradient(top, #eeeeee, white);
        background-image: -moz-linear-gradient(top, #eeeeee, white);
        background-image: -o-linear-gradient(top, #eeeeee, white);
        background-image: linear-gradient(to bottom, #eeeeee, white);
    }
  }

  .switch-margin-right {
    margin-right: 64px !important;
  }

// End of Switch Button

.form-control:disabled, .form-control[readonly] {
    opacity: 0.65 !important;
    filter: grayscale(0.1);
    background: #f3f3f3 !important;
}

@media (min-width: 1441px) { 
    .table-wrapper {
        width: 76vw !important;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) { 
    .table-wrapper {
        width: 73vw !important;
    }

    .filter-control-class {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .filter-panel-class {
        align-items: flex-end !important;
    }

    .tab-grid {
        height: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .table-wrapper {
        width: 68vw !important;
    }
  }

  .k-window-titlebar {
    padding: 6px 15px 6px 15px;
    .k-window-title {
        font-size: 18px;
    }
  }

  .k-grid td {
    vertical-align: middle !important;
}

.k-grid th, .k-grid td {
    padding: 0.5rem 0.75rem !important;
}

.k-grid .k-alt {
    background-color: rgba(20, 20, 21, 0.05);
}

.k-window-titlebar {
    >button {
        .k-i-window-minimize {
            display: none !important;
        }
    }
    >button {
        .k-i-window-maximize {
            display: none !important;
        }
    }
}

.k-notification-group {
    z-index: 10040 !important;
}

.k-notification-wrap {
    font-size: 16px !important;
}

.k-window-titlebar > .k-window-title + button {
    display: none !important;
}

.k-window-titlebar > .k-window-title + button + button {
    display: none !important;
}

.input-group-append {
    cursor: pointer;
}

.k-dialog-wrapper {
    z-index: 10010 !important;
}

.k-grid-header {
    font-weight: bold !important;
}

.k-dropdown-wrap > .k-input {
    background: white !important;
}

.dormant-customer {background-color: #ffd9d9 !important;}

.k-numeric-wrap > .k-input {
    text-align: right;
}

.debit-row {color: blue !important;}
.credit-row {color: red !important;}
.is-added {background-color: #b4b4b4 !important;}


.success-dialog-sign {
    font-size: 54px;
    color: #33b065;
}

.success-dialog-message {
    font-size: 16px;
}

.warning-sign {
    font-size: 54px;
    color: #e8bc36;
}

.info-dialog-sign {
    font-size: 54px;
    color: #5590bd;
}

.journal-receipt-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}

.both-mandatory {
    scroll-snap-type: none;
}

.k-grid-header .k-header > .k-link > .k-icon.k-i-sort-desc-sm, .k-grid-header .k-header > .k-link > .k-icon.k-i-sort-asc-sm {
    margin-left: 0 !important;
}

.tab-grid {
    height: 91%;
}

.credit-limit-exceeded {color:#e64040 !important;}

.success-msg-container {
    height: -webkit-fill-available;
}
.success-msg {
    font-size: 20px;
    font-weight: 600;
    color: #33b065;
}

.success-msg-detail-div {
    border: 1px solid #f5f5f5;
    padding: 4px 15px;
    border-radius: 5px;
}

.success-msg-detail-no {
    font-size: 16px;
    color: #777777;
}

.success-msg-detail-value {
    font-size: 24px;
    font-weight: 600;
}

.success-msg-copy-icon {
    font-size: 16px;
    color: #4e4e4e;
    cursor: pointer;
}

.success-msg-additional-info {
    color: #797979;
    font-size: 13px;
}

.success-msg-addition-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
}

.success-msg-addition-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.success-msg-addition-info-div {
    border: 1px solid #f5f5f5;
}

.warning-msg-detail {
    font-size: 16px;
    color: #777777;
}

.warning-msg {
    font-size: 20px;
    font-weight: 600;
    color: #e8bc36;
}

.info-msg-detail {
    font-size: 16px;
    color: #777777;
}

.info-msg {
    font-size: 20px;
    font-weight: 600;
    color: #5590bd;
}

.k-window-titlebar .k-window-title {
    font-size: 16px;
    padding: 5px 0px;
}

.delete-msg-sign {
    font-size: 54px;
    color: #f35959;
}

.delete-msg-detail {
    font-size: 16px;
    color: #777777;
}

.delete-msg {
    font-size: 20px;
    font-weight: 600;
    color: #f35959;
}

.error-msg-sign {
    font-size: 54px;
    color: #f35959;
}

.error-msg-detail {
    font-size: 16px;
    color: #777777;
}

.error-msg {
    font-size: 20px;
    font-weight: 600;
    color: #f35959;
}

.broken-promise-row {color: #c57719 !important;}
.promise-row {color: #148280 !important;}
.dispute-reason-row {color: #a2900b !important;}

.cursor-pointer {
    cursor: pointer;
}


.void-receipt {color: #d0384b !important;}
.unmatched-invoices {color: #000000 !important;}
.matched-invoices {color: #62ad58 !important;}
.void-invoices {color: #d0384b !important;}
.ready-to-match-invoices {color: #a2830f !important;}

.k-filtercell .k-filtercell-operator{
    width: 20px !important;
    margin-left: 0px !important;
    margin-top: -3px;
}

.k-filtercell .k-filtercell-wrapper > .k-textbox {
    height: 25px;
    font-size: 12px;
    padding: 0px 6px;
}

.k-filtercell {
    height: 25px;
}

kendo-grid-filter-wrapper-cell > kendo-numerictextbox {
    width: 94px;
}

.link-item {
    cursor: pointer;
    color: #2e608c;
    font-weight: 600;
}

.link-item:hover {
    font-weight: bold;
    color: #164b79;
    transform: scale(1.1);
    transition: 0.5s;
    text-decoration: underline;
}

.k-grid tr.fullyMatched {
    color:#FF7F50 !important;
}

.k-grid tr.PartialMatch {
    color: #FFD700 !important;
}


.void-transactions {
    color: #d0384b !important;
}

.invalid-email {color: #d0384b !important;}

.k-window.k-window-maximized {
    z-index: 10002 !important; }

.k-window {
    z-index: 10004 !important; }

.k-window-titlebar > .k-window-title + button + button + button > .k-i-window-restore  {
    display: none !important;
}

kendo-popup {
    z-index: 10005 !important;
}