/* Add your variable customizations of layout here */

// Label Variables
$labelMarginBottom: 0.3rem;
$labelColor: black;

// App Form Control Variables
$inputBorderRadius: 0.25rem;
$inputPadding: 0.375rem 0.75rem;
$inputWidth: 12.4em;
$inputFontSize: 1rem;
$inputLineHeight: 1.5;
$inputColor: #292b2c;
$inputBgColor: #ffffff;
$inputHeight: calc( 2px + 0.75rem + 1.5em);
$inputFocusBorderColor: #b8e9cb;
$inputFocusBoxShadaow: none;
$inputFontSizeSmall: 0.875em;
$inputLineHeightSmall: 1.5;
$inputPaddingSmall: 0.25rem 0.5rem;
$inputBorderRadiusSmall: 0.2rem;
$inputFontSizeLarge: 1.25em;
$inputLineHeightLarge: 1.5;
$inputPaddingLarge: .5rem 1rem;
$inputBorderRadiusLarge: 0.3rem;

// Kendo TextArea Variables
$textAreaMinHeight: calc( 0.75rem + 6em);

// Kendo Datepicker Variables
$datePickerSelectBgColor: transparent;

// Kendo Switch Variables
$switchWidth: 5em;
$switchFontSize: 0.75rem;
$switchBorder: 0;
$switchBorderRadius: 5em;
$switchBackground: none;
$switchContainerPadding: 3px 3px;
$switchContainerTransition: background-color 200ms ease-out 0s;
$switchHandleBorderRadius: 5em;
$switchHandleWidth: 2em;
$switchHandleHeight: 2em;
$switchHandleTransition: left 200ms ease-out 0s;
$switchOnColor: white;
$switchOnBgColor: #57ca85;
$switchOffColor: black;
$switchOffBgColor: #e4e7eb;

// Kendo Button Variables
$buttonBorderRadius: 0.25rem;
$buttonPadding: 0.375rem 0.75rem;
$buttonFontSize: 14px;
$buttonLineHeight: 1.5;
$buttonHoverBorderColor: #c7cdd5;
$buttonHoverColor: #212529;
$buttonHoverBgColor: #ced3db;
$buttonPrimaryBorderColor: #57ca85;
$buttonPrimaryColor: #ffffff;
$buttonPrimaryBgColor: #57ca85;
$buttonPrimaryHoverBorderColor: #39b56b;
$buttonPrimaryHoverColor: #ffffff;
$buttonPrimaryHoverBgColor: #3cbf70;
$buttonDisabledOpacity: 0.65;
$buttonDisabledFilter: grayscale(0.1);

// Kendo Combobox Variables
$comboboxDropdownWrapBorderColor: rgba(33, 37, 41, 0.15);
$comboboxDropdownWrapColor: #292b2c;
$comboboxDropdownWrapBgColor: #ffffff;
$comboboxInputPadding: 0.375rem 0.75rem;
$comboboxInputHeight: calc( 0.75rem + 1.5em);
$comboboxSelectBorderRadius: 0 0.25rem 0.25rem 0;
$comboboxSelectPadding: 0.375rem 0.375rem;

// Kendo Dropdown Variables
$dropdownDropdownWrapBorderColor: #e4e7eb;
$dropdownDropdownWrapColor: #292b2c;
$dropdownDropdownWrapBgColor: #e4e7eb;
$dropdownInputPadding: 0.375rem 0.75rem;
$dropdownInputHeight: calc( 0.75rem + 1.5em);
$dropdownSelectBorderRadius: 0 0.25rem 0.25rem 0;
$dropdownSelectPadding: 0.375rem 0.375rem;

// Kendo Multiselect Variables
$multiselectWrapBeforeWidth: 0;
$multiselectWrapBeforeHeight: calc( 1.5em + 0.75rem);

// Kendo Window/Dialog Variables
$windowBorderRadius: 0.25rem;
$windowPadding: 0;
$windowBorderColor: rgba(33, 37, 41, 0.125);
$windowColor: #292b2c;
$windowBgColor: #ffffff;
$windowTitleBarBorderColor: rgba(33, 37, 41, 0.125);
$windowTitleBarColor: #292b2c;
$windowTitleBarBgColor: #ffffff;
$windowTitleBarBorderTopLeftRadius: 0.25rem;
$windowTitleBarBorderTopRightRadius: 0.25rem;
$windowTitleBarPadding: 1rem 1rem 1rem 1rem;
$windowTitleMargin: -.15em 0;
$windowTitleFontSize: 1.25rem;
$windowTitleLineHeight: 1.3;
$windowActionsMargin: calc( -0.375rem + -1px);
$windowActionsLineHeight: 1;
$windowContentPadding: 1rem 1rem;
$windowContentColor: inherit;
$windowContentBg: none;
$dialogBtnGroupBorderBottomRightRadius: 0.25rem;
$dialogBtnGroupBorderBottomLeftRadius: 0.25rem;
$dialogBtnGroupPadding: 0;
$dialogBtnGroupBorderWidth: 1px 0 0;
$dialogBtnGroupBorderStyle: solid;
$dialogBtnGroupBorderColor: inherit;

// Kendo Grid Variables
$gridBorderColor: rgba(33, 37, 41, 0.125);
$gridColor: #292b2c;
$gridBgColor: #ffffff;
$gridHeaderFontSize: 14px;
$gridThPadding: 0.75rem 0.75rem;
$gridThBorderWidth: 0 0 1px 1px;
$gridFilterRowLineHeight: 1.5;
$gridFilterCellTextboxWidth: 100%;
$gridFilterCellTextboxMinWidth: 0;

// Kendo Popup Variables
$popupBorderRadius: 0.25rem;
$popupMargin: 0.125rem 0 0 0;