@charset "UTF-8";

@font-face {
  font-family: "gideons-icon";
  src:url("gideons-icon.eot");
  src:url("gideons-icon.eot?#iefix") format("embedded-opentype"),
    url("gideons-icon.woff") format("woff"),
    url("gideons-icon.ttf") format("truetype"),
    url("gideons-icon.svg#gideons-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gideons-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gideons-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
  content: "\61";
}
.icon-supplier-management-2:before {
  content: "\63";
}
.icon-test-config:before {
  content: "\64";
}
.icon-test-cylinder:before {
  content: "\65";
}
.icon-android-add-circle:before {
  content: "\66";
}
.icon-alert-circled:before {
  content: "\67";
}
.icon-android-add:before {
  content: "\68";
}
.icon-android-checkbox:before {
  content: "\69";
}
.icon-android-done:before {
  content: "\6a";
}
.icon-android-close:before {
  content: "\6b";
}
.icon-android-navigate:before {
  content: "\6c";
}
.icon-android-person:before {
  content: "\6d";
}
.icon-checkmark:before {
  content: "\6e";
}
.icon-close:before {
  content: "\6f";
}
.icon-ios-cloud-download:before {
  content: "\70";
}
.icon-ios-cloud:before {
  content: "\71";
}
.icon-ios-close:before {
  content: "\72";
}
.icon-ios-location-outline:before {
  content: "\73";
}
.icon-ios-star:before {
  content: "\74";
}
.icon-paper-airplane:before {
  content: "\75";
}
.icon-social-buffer:before {
  content: "\76";
}
.icon-cube:before {
  content: "\77";
}
.icon-archive:before {
  content: "\78";
}
.icon-briefcase:before {
  content: "\79";
}
.icon-ios-printer:before {
  content: "\7a";
}
.icon-unlocked:before {
  content: "\41";
}
.icon-marketdepthbyprice:before {
  content: "\42";
}
.icon-fontawesome-webfont:before {
  content: "\43";
}
.icon-user-close-add:before {
  content: "\44";
}
.icon-buffer:before {
  content: "\45";
}
.icon-contact-add-2:before {
  content: "\46";
}
.icon-mark-map:before {
  content: "\47";
}
.icon-lightbulb:before {
  content: "\48";
}
.icon-information-circle:before {
  content: "\49";
}
.icon-stopwatch-outline:before {
  content: "\4a";
}
.icon-speedometer:before {
  content: "\4b";
}
.icon-tags:before {
  content: "\4c";
}
.icon-bell:before {
  content: "\4d";
}
.icon-signal:before {
  content: "\4e";
}
.icon-page-edit:before {
  content: "\4f";
}
.icon-page-add:before {
  content: "\50";
}
.icon-paperclip:before {
  content: "\51";
}
.icon-cloud-download:before {
  content: "\52";
}
.icon-cloud-upload:before {
  content: "\53";
}
.icon-step-backward:before {
  content: "\54";
}
.icon-step-forward:before {
  content: "\55";
}
.icon-archive-1:before {
  content: "\56";
}
.icon-box:before {
  content: "\57";
}
.icon-dot-3:before {
  content: "\58";
}
.icon-chevron-left:before {
  content: "\59";
}
.icon-chevron-right:before {
  content: "\5a";
}
.icon-chevron-down:before {
  content: "\30";
}
.icon-chevron-up:before {
  content: "\31";
}
.icon-sales-rep-update-1:before {
  content: "\32";
}
.icon-special-gas:before {
  content: "\33";
}
.icon-test-icon-main:before {
  content: "\34";
}
.icon-test-supervions-1:before {
  content: "\35";
}
.icon-test-supervision:before {
  content: "\36";
}
.icon-test-template:before {
  content: "\37";
}
.icon-tripwiseshortage:before {
  content: "\38";
}
.icon-working:before {
  content: "\39";
}
.icon-user-line:before {
  content: "\21";
}
.icon-supplier-return:before {
  content: "\22";
}
.icon-reoconciliation:before {
  content: "\62";
}
.icon-production:before {
  content: "\23";
}
.icon-orders:before {
  content: "\24";
}
.icon-aging:before {
  content: "\26";
}
.icon-aging-1:before {
  content: "\27";
}
.icon-bulk-upload-2:before {
  content: "\25";
}
.icon-change-barcode:before {
  content: "\28";
}
.icon-colored-bar:before {
  content: "\29";
}
.icon-bulk-initialization:before {
  content: "\2a";
}
.icon-bulk-upload:before {
  content: "\2b";
}
.icon-barcode-lines:before {
  content: "\2c";
}
.icon-aging-2:before {
  content: "\2d";
}
