<p>resources works!</p>
<div class="section p-10 flex-column-container section-col overflow-hidden">
    <div class="app-section flex-column-container">
      <div class="tab-panel">
        <div class="left-content">
          <div class="item effect" [ngClass]="{'active': FormViewModel.TabIndex == 0}" (click)="changeTab(0)">
            {{"finance.receipts.receipts"| translate}}
          </div>
          <div class="item effect" [ngClass]="{'active': FormViewModel.TabIndex == 1}" (click)="changeTab(1)">
            Banking Deposit
          </div>
          <div class="item effect" [ngClass]="{'active': FormViewModel.TabIndex == 3}" (click)="changeTab(3)">
            {{"finance.receipts.banking_slip"| translate}}
          </div>
          <div class="item effect"  [ngClass]="{'active': FormViewModel.TabIndex == 4}" (click)="changeTab(4)">
            Banking Update
          </div>
          <div class="item effect" (click)="FormViewModel.notImplemented()">
            {{"finance.receipts.from_bank"| translate}}
          </div>
        </div>
        <div class="right-content" *ngIf="FormViewModel.TabIndex === 0">
          <div kendoTooltip [tooltipTemplate]="template" filter="i" class="my-class" position="left">
            <i class="fa fa-map-signs"></i>
          </div>
          <ng-template #template let-anchor>
            <div class="d-flex flex-row">
              <span class="font-weight-bold mr-2">{{"finance.receipts.receipt_legend"| translate}}:</span>
              <section class="d-flex flex-row">
                <div class="void-receipt-legend">
                  <span>{{"finance.receipts.void_receipt"| translate}}</span>
                </div>
              </section>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="flex-max-height-container">
        
      </div>
    </div>
  </div>