.app-container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    position:absolute; 
    top: 0; 
    left: 0;
    bottom: 0; 
    right: 0;
}

.app-router-container{
    display: flex; 
    flex-grow:2;
    background-color: #f4f4f4;
}

@media (max-width: 640px) {
    .app-container{
        left:0;
    }
}


/* ==============================================================================================
======================================== TAB CONTROL ============================================
================================================================================================= */

