// Label Variables
$labelMarginBottom: 0.3rem;
$labelColor: black;

// Kendo Textbox Variables
$textBoxBorderRadius: 0.25rem;
$textBoxPadding: 0.375rem 0.75rem;
$textBoxWidth: 12.4em;
$textBoxFontSize: 1rem;
$textBoxHeight: calc( 2px + 0.75rem + 1.5em);
$textBoxFocusBorderColor: #b8e9cb;
$textBoxFocusBoxShadaow: none;

// Kendo TextArea Variables
$textAreaBorderRadius: 0.25rem;
$textAreaPadding: 0.375rem 0.75rem;
$textAreaWidth: 12.4em;
$textAreaFontSize: 1rem;
$textAreaMinHeight: calc( 0.75rem + 6em);
$textAreaFocusBorderColor: #b8e9cb;
$textAreaFocusBoxShadaow: none;

// Kendo Datepicker Variables
$datePickerWidth: 12.4em;
$datePickerFontSize: 1rem;
$datePickerLineHeight: 1.5;
$datePickerBgColor: transparent;
$datePickerSelectBgColor: transparent;

// Kendo Switch Variables
$switchWidth: 5em;
$switchFontSize: 0.75rem;
$switchBorder: 0;
$switchBorderRadius: 5em;
$switchBackground: none;
$switchContainerPadding: 3px 3px;
$switchContainerTransition: background-color 200ms ease-out 0s;
$switchHandleBorderRadius: 5em;
$switchHandleWidth: 2em;
$switchHandleHeight: 2em;
$switchHandleTransition: left 200ms ease-out 0s;
$switchOnColor: white;
$switchOnBgColor: #57ca85;
$switchOffColor: black;
$switchOffBgColor: #e4e7eb;

// Kendo Button Variables
$buttonBorderRadius: 0.25rem;
$buttonPadding: 0.375rem 0.75rem;
$buttonFontSize: 14px;
$buttonLineHeight: 1.5;
$buttonHoverBorderColor: #c7cdd5;
$buttonHoverColor: #212529;
$buttonHoverBgColor: #ced3db;
$buttonPrimaryBorderColor: #57ca85;
$buttonPrimaryColor: #ffffff;
$buttonPrimaryBgColor: #57ca85;
$buttonPrimaryHoverBorderColor: #39b56b;
$buttonPrimaryHoverColor: #ffffff;
$buttonPrimaryHoverBgColor: #3cbf70;
$buttonDisabledOpacity: 0.65;
$buttonDisabledFilter: grayscale(0.1);

// Kendo Combobox Variables
$comboboxWidth: 12.4em;
$comboboxFontSize: 1rem;
$comboboxDropdownWrapBorderColor: rgba(33, 37, 41, 0.15);
$comboboxDropdownWrapColor: #292b2c;
$comboboxDropdownWrapBgColor: #ffffff;
$comboboxInputPadding: 0.375rem 0.75rem;
$comboboxInputHeight: calc( 0.75rem + 1.5em);
$comboboxSelectBorderRadius: 0 0.25rem 0.25rem 0;
$comboboxSelectPadding: 0.375rem 0.375rem;

// Kendo Dropdown Variables
$dropdownWidth: 12.4em;
$dropdownFontSize: 1rem;
$dropdownDropdownWrapBorderColor: #e4e7eb;
$dropdownDropdownWrapColor: #292b2c;
$dropdownDropdownWrapBgColor: #e4e7eb;
$dropdownInputPadding: 0.375rem 0.75rem;
$dropdownInputHeight: calc( 0.75rem + 1.5em);
$dropdownSelectBorderRadius: 0 0.25rem 0.25rem 0;
$dropdownSelectPadding: 0.375rem 0.375rem;

// Kendo Multiselect Variables
$multiselectWidth: 12.4em;
$multiselectFontSize: 1rem;
$multiselectBgColor: transparent;
$multiselectWrapBorderRadius: 0.25rem;
$multiselectWrapPadding: 0;
$multiselectWrapWidth: 100%;
$multiselectWrapBorderColor: rgba(33, 37, 41, 0.15);
$multiselectWrapColor: #292b2c;
$multiselectWrapBgColor: #ffffff;
$multiselectWrapBeforeWidth: 0;
$multiselectWrapBeforeHeight: calc( 1.5em + 0.75rem);

// Kendo Window/Dialog Variables
$windowBorderRadius: 0.25rem;
$windowPadding: 0;
$windowBorderColor: rgba(33, 37, 41, 0.125);
$windowColor: #292b2c;
$windowBgColor: #ffffff;
$windowTitleBarBorderColor: rgba(33, 37, 41, 0.125);
$windowTitleBarColor: #292b2c;
$windowTitleBarBgColor: #ffffff;
$windowTitleBarBorderTopLeftRadius: 0.25rem;
$windowTitleBarBorderTopRightRadius: 0.25rem;
$windowTitleBarPadding: 1rem 1rem 1rem 1rem;
$windowTitleMargin: -.15em 0;
$windowTitleFontSize: 1.25rem;
$windowTitleLineHeight: 1.3;
$windowActionsMargin: calc( -0.375rem + -1px);
$windowActionsLineHeight: 1;
$windowContentPadding: 1rem 1rem;
$windowContentColor: inherit;
$windowContentBg: none;
$dialogBtnGroupBorderBottomRightRadius: 0.25rem;
$dialogBtnGroupBorderBottomLeftRadius: 0.25rem;
$dialogBtnGroupPadding: 0;
$dialogBtnGroupBorderWidth: 1px 0 0;
$dialogBtnGroupBorderStyle: solid;
$dialogBtnGroupBorderColor: inherit;

// Kendo Grid Variables
$gridBorderColor: rgba(33, 37, 41, 0.125);
$gridColor: #292b2c;
$gridBgColor: #ffffff;
$gridHeaderFontSize: 14px;
$gridThPadding: 0.75rem 0.75rem;
$gridThBorderWidth: 0 0 1px 1px;
$gridFilterRowLineHeight: 1.5;
$gridFilterCellTextboxWidth: 100%;
$gridFilterCellTextboxMinWidth: 0;

// Kendo Popup Variables
$popupBorderRadius: 0.25rem;
$popupMargin: 0.125rem 0 0 0;

.app-form-group{
    margin-bottom: 1rem;

    label{
        margin-bottom: $labelMarginBottom;
        color: $labelColor;   
    }

    .k-textbox {
        border-radius: $textBoxBorderRadius;
        padding: $textBoxPadding;
        width: $textBoxWidth;
        font-size: $textBoxFontSize;
        height: $textBoxHeight;
        &:focus {
            border-color: $textBoxFocusBorderColor;
            box-shadow: $textBoxFocusBoxShadaow;
        }
    }

    .k-textarea {
        border-radius: $textAreaBorderRadius;
        padding: $textAreaPadding;
        width: $textAreaWidth;
        font-size: $textAreaFontSize;
        min-height: $textAreaMinHeight;
        &:focus {
            border-color: $textAreaFocusBorderColor;
            box-shadow: $textAreaFocusBoxShadaow;
        }
    }

    .k-datepicker {
        width: $datePickerWidth;
        font-size: $datePickerFontSize;
        line-height: $datePickerLineHeight;
        background-color: $datePickerBgColor;
        // Style if using customized icon for select instead of default kendo icon
        // .k-select {
        //     background-color: $datePickerSelectBgColor;
        //     background-image: none;
        //     > .k-icon {
        //         background-image:url('assets/media/calendar.svg'); 
        //         &::before {
        //             display: none;
        //         }
        //     }
        // }
    }

    .k-switch {
        border-radius: $switchBorderRadius;
        width: $switchWidth;
        background: $switchBackground;
        border: $switchBorder;
        font-size: $switchFontSize;
        .k-switch-container {
            border-radius: $switchBorderRadius;
            padding: $switchContainerPadding;
            transition: $switchContainerTransition;
            .k-switch-handle {
                border-radius: $switchHandleBorderRadius;
                width: $switchHandleWidth;
                height: $switchHandleHeight;
                transition: $switchHandleTransition;
            }
        }
    }
    .k-switch-on .k-switch-container {
        color: $switchOnColor;
        background-color: $switchOnBgColor;
    }
    .k-switch-off .k-switch-container {
        color: $switchOffColor;
        background-color: $switchOffBgColor;
    }

    .k-button {
        border-radius: $buttonBorderRadius;
        // padding: $buttonPadding;
        font-size: $buttonFontSize;
        line-height: $buttonLineHeight;
        &:hover {
            border-color: $buttonHoverBorderColor;
            color: $buttonHoverColor;
            background-color: $buttonHoverBgColor;
        }
        .k-primary {
            border-color: $buttonPrimaryBorderColor;
            color: $buttonPrimaryColor;
            background-color: $buttonPrimaryBgColor;
            &:hover {
                border-color: $buttonPrimaryHoverBorderColor;
                color: $buttonPrimaryHoverColor;
                background-color: $buttonPrimaryHoverBgColor;
            }
        }
        [disabled], [disabled] .k-button {
            opacity: $buttonDisabledOpacity;
            filter: $buttonDisabledFilter;
        }
    }

    .k-combobox {
        width: $comboboxWidth;
        font-size: $comboboxFontSize;
        .k-dropdown-wrap{
            border-color: $comboboxDropdownWrapBorderColor;
            color: $comboboxDropdownWrapColor;
            background-color: $comboboxDropdownWrapBgColor;
            .k-input {
                padding: $comboboxInputPadding;
                height: $comboboxInputHeight;
            }
            .k-select {
                border-radius: $comboboxSelectBorderRadius;
                padding: $comboboxSelectPadding;
                // Style if using custom icons for select
                // > .k-icon {
                //     background-image: url('assets/media/dropdown.svg');
                //     &::before {
                //         display: none;
                //     }
                // }
            }
        }
    }

    .k-dropdown {
        width: $dropdownWidth;
        font-size: $dropdownFontSize;
        .k-dropdown-wrap{
            border-color: $dropdownDropdownWrapBorderColor;
            color: $dropdownDropdownWrapColor;
            background-color: $dropdownDropdownWrapBgColor;
            .k-input {
                padding: $dropdownInputPadding;
                height: $dropdownInputHeight;
            }
            .k-select {
                border-radius: $dropdownSelectBorderRadius;
                padding: $dropdownSelectPadding;
                // Style if using custom icons for select
                // > .k-icon {
                //     background-image: url('assets/media/dropdown.svg');
                //     &::before {
                //         display: none;
                //     }
                // }
            }
        }
    }

    .k-multiselect {
        width: $multiselectWidth;
        font-size: $multiselectFontSize;
        background-color: $multiselectBgColor;
        .k-multiselect-wrap {
            border-radius: $multiselectWrapBorderRadius;
            padding: $multiselectWrapPadding;
            width: $multiselectWrapWidth;
            border-color: $multiselectWrapBorderColor;
            color: $multiselectWrapColor;
            background-color: $multiselectWrapBgColor;
            &::before {
                width: $multiselectWrapBeforeWidth;
                height: $multiselectWrapBeforeHeight; 
            }
        }
    }

    .k-window {
        border-radius: $windowBorderRadius;
        padding: $windowPadding;
        border-color: $windowBorderColor;
        color: $windowColor;
        background-color: $windowBgColor;
        .k-window-titlebar {
            border-color: $windowTitleBarBorderColor;
            color: $windowTitleBarColor;
            background-color: $windowTitleBarBgColor;
            border-top-left-radius: $windowTitleBarBorderTopLeftRadius;
            border-top-right-radius: $windowTitleBarBorderTopRightRadius;
            padding: $windowTitleBarPadding;
            .k-window-title {
                margin: $windowTitleMargin;
                font-size: $windowTitleFontSize;
                line-height: $windowTitleLineHeight;
            }
            .k-window-actions {
                margin: $windowActionsMargin;
                line-height: $windowActionsLineHeight;
            }
        }
        .k-window-content, .k-prompt-container {
            padding: $windowContentPadding;
            color: $windowContentColor;
            background: $windowContentBg;
        }
        .k-dialog-buttongroup {
            border-bottom-right-radius: $dialogBtnGroupBorderBottomRightRadius;
            border-bottom-left-radius: $dialogBtnGroupBorderBottomLeftRadius;
            padding: $dialogBtnGroupPadding;
            border-width: $dialogBtnGroupBorderWidth;
            border-style: $dialogBtnGroupBorderStyle;
            border-color: $dialogBtnGroupBorderColor;
        }
    }

    
    .k-grid {
        border-color: $gridBorderColor;
        color: $gridColor;
        background-color: $gridBgColor;
        .k-grid-header {
            font-size: $gridHeaderFontSize !important;
            .k-grid th, .k-grid td {
                padding: $gridThPadding;
                border-width: $gridThBorderWidth;
            }
            .k-filter-row {
                line-height: $gridFilterRowLineHeight;
            }
        }
        .k-filtercell .k-filtercell-wrapper > .k-textbox {
            width: $gridFilterCellTextboxWidth;
            min-width: $gridFilterCellTextboxMinWidth;
        }
    }

    .k-popup {
        border-radius: $popupBorderRadius;
        margin: $popupMargin;
    }

    
}
