.button-container{
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;

    .button-item{
        display: flex;
        align-items: center;
        border-right: 1px solid #e0e4e8;
        border-top: 1px solid #e0e4e8;
        border-bottom: 1px solid #e0e4e8;
        padding: 5px 10px;
        cursor: pointer;
        height: 32px;
        padding: 0 10px;
        align-items: center;

        &:last-child{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &:first-child{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-left: 1px solid #e0e4e8;
        }

        .box{
            background: $menuitemActiveColor;
            height: 20px;
            width: 20px;
            font-size: 12px;
            text-align: center;
            vertical-align: middle;
            margin-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }

        .soft{
            background: #55d7fe;
            color: #fff;
        }
        .reminder{
            background: #f1bf56;
            color: #fff;
        }
        .final{
            background: #ff8373;
            color: #fff;
        }
    }
}

.switch-button{
    .active{
        background: $menuitemActiveColor;
        color: #ffffff;

        .box{
            background: #d6d6d64a;
        }
    }
}
.tab-button{
    .active{
        color: #468dff;
        font-weight: 600;
    }
}

//Action Button
.action-button{
    color: $buttonTextColor;
    background-color: $buttonBgColor;
    border: $buttonBorder;
  }
  .action-button-menu{
    color: $buttonTextColor;
    background-color: $buttonBgColor;
    border: $buttonBorder;
  }
  .action-button-sub-item{
    color: $buttonTextColor;
    background-color: $buttonBgColor;
    border: $buttonBorder;
  }