.landing-page {
    height: 100vh;
    background-color: rgb(0,161,253);
    background: radial-gradient(circle, rgba(0,161,253,1) 0%, rgba(5,131,228,1) 31%, rgba(25,26,139,1) 100%);
    background-size: cover;
    color: $default-font-color-landing;
    overflow: hidden;
  }

.backdrop-image {
    width: 100vw;
    height: 100vh;
}

.backdrop-animation {
    animation: swing ease-in-out 20s infinite alternate;
    transform-origin: center -20px;
    float:left;
    & img {
            display: block;
    }
    &::after {
        position: absolute;  
        width: 20px; height: 20px;  
        top: -10px; left: 50%;
        z-index: 0;
        border-bottom: none;
        border-right: none;
        transform: rotate(45deg);
    }
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 22%;
    bottom: 0;
    margin: auto;
}

.card {
    background-color: transparent;
    border: 1px solid #ffffff78;
    cursor: pointer;
    height: 150px;
    border-radius: 7px;
    &:hover {
        transition: $transition-time;
    }
}
  
.card-block {
    margin: auto;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 10px;
    font-size: 12px;
    text-align: center;
    background: #ffffff0d;
    width: 680px;
    border-radius: 10px;
    padding: 27px 27px;
}

.fill-card {
    @include fill-in (#00BFF3);
    &:hover {
        & div>img {
            transform: translateY(-8px);
            transition: $transition-time;
        }
    }
}


@media (min-width: 1024px) and (max-width: 1440px) {
    .content {
        top: 11%;
    }
    .greeting-msg {
        font-size: 22px;
      }

    .log-in-details {
        font-size: 12px;
    }
  }

  .greeting-msg {
    line-height: 13px;
    letter-spacing: 2px;
    font-weight: 400;
  }