.loading-bar {
    height: 3px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #f1f1f156;
    z-index: 99;

    &:before{
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 3px;
        background-color: $menuitemBadgeBgColor;
        animation: loading-bar 2s linear infinite;
    }
    @keyframes loading-bar {
        from {left: -200px; width: 30%;}
        50% {width: 30%;}
        70% {width: 70%;}
        to {left: 120%;}
    }
  }
   
  

.loading-overlay{
    background: #b2b1bd46;    
    display: block;
    position: absolute;
    z-index: 99;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}


// Data Loader Indication SCSS
.spinner-circle-swish{
    color: $sidebarTopEndBgColor !important;
  }
  
  .spinner-sk-rotateplane{
    background-color: $sidebarTopEndBgColor !important;
  }
  
  .spinner-rectangle-bounce{
    .rect1{
      background-color:  $sidebarTopEndBgColor !important;
    }
    .rect2{
      background-color:  $sidebarTopEndBgColor !important;
    }
    .rect3{
      background-color:  $sidebarTopEndBgColor !important;
    }
    .rect4{
      background-color:  $sidebarTopEndBgColor !important;
    }
    .rect5{
      background-color:  $sidebarTopEndBgColor !important;
    }
  }
  
  .spinner-wandering-cubes{
    .cube1{
      background-color: $sidebarTopEndBgColor !important;
    }
  
    .cube2{
      background-color: $menuitemBadgeBgColor !important;
    }
  }
  
  .spinner-double-bounce{
    .double-bounce1{
      background-color: $sidebarTopEndBgColor !important;
    }
  
    .double-bounce2{
      background-color: $menuitemBadgeBgColor !important;
    }
  }
  
  // Module Loader SCSS
  .router-load-bg{
    background: #00000025;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  
    .router-load-indicator-out { 
      @include background-gradient-left2right($sidebarTopStartBgColor,$sidebarTopEndBgColor);
      border-radius: 50%;
      width: 100px;
      height: 100px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .router-load-indicator-in { 
      background: #e4e4e4;
      border-radius: 50%;
      width: 85px;
      height: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: darken($sidebarTopEndBgColor, 20%);
    }
  }