.layout-wrapper {
    .layout-main {
        @include transition(margin-left $transitionDuration);

        .layout-topbar {
            width: 100%;
            height: 56px;
            background-color: $topbarBgColor;
            padding: 13px 24px;
            position: fixed;
            z-index: 999;
            @include transition(width $transitionDuration);
            @include shadow(0 1px 10px 0 rgba(182, 183, 195, 0.5));

            .menu-btn {
                vertical-align: top;
                margin-right: 16px;
                font-size: 24px;
                color: $topbarIconColor;
                @include transition(all $transitionDuration);

                &:hover {
                    color: $topbarIconHoverColor;
                }
            }

            .topbar-search {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                height: 40px;

                input {
                    border: 0 none;
                    width: 150px;
                    padding: 6px 6px 6px 18px;
                    font-size: 14px;
                    background-color: transparent;
                    border-bottom: 1px solid $topbarInputBorderColor;
                    @include transition(all $transitionDuration);
                    outline: 0 none;

                    &:focus {
                        width: 250px;
                    }
                }

                i {
                    position: absolute;
                    left: 0;
                    top: 8px;
                    color: $topbarIconColor;
                }
            }

            .layout-topbar-menu-wrapper {
                float: right;

                .topbar-menu {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 4px 0 0 0;

                    .topbar-badge {
                        width: 16px;
                        height: 16px;
                        text-align: center;
                        background-color: $menuitemBadgeBgColor;
                        color: $menuitemBadgeTextColor;
                        font-size: $fontSize - 2;
                        font-weight: 700;
                        line-height: 16px;
                        @include border-radius(50%);
                    }

                    > li {
                        float: right;
                        margin-left: 20px;
                        position: relative;

                        > a {
                            color:$textColor;
                            position: relative;

                            .topbar-item-name {
                                display: none;
                            }

                            i {
                                font-size: 24px;
                                color: $topbarIconColor;
                                @include transition(color $transitionDuration);

                                &:hover {
                                    color: $topbarIconHoverColor;
                                }
                            }

                            .topbar-badge {
                                position: absolute;
                                right: -4px;
                                top: -14px;
                            }
                        }

                        &.profile-item {
                            margin-left: 20px;

                            > a {
                                display: inline-block;
                                position: relative;
                                top: -4px;

                                img {
                                    width: 40px;
                                    height: 40px;
                                    vertical-align: middle;
                                    margin-top: -4px;
                                }

                                span {
                                    font-weight: bold;
                                    display: inline-block;
                                    margin-left: 6px;
                                    @include transition(color $transitionDuration);
                                }
                            }

                            ul {
                                right: 105px;
                            }
                        }

                        &.active-topmenuitem {
                            > a {
                                i {
                                    color: $topbarIconActiveColor;
                                }
                            }

                            > ul {
                                display: block;
                            }
                        }

                        > ul {
                            position: absolute;
                            top: 36px;
                            right: 0;
                            display: none;
                            width: 250px;
                            -webkit-animation-duration: .5s;
                            -moz-animation-duration: .5s;
                            animation-duration: .5s;
                            list-style-type: none;
                            margin: 0;
                            padding: 8px 0;
                            background-color: $topbarBgColor;
                            @include overlay-shadow();

                            a {
                                display: block;
                                width: 100%;
                                color: $textColor;
                                padding: 8px 14px;
                                @include transition(background-color $transitionDuration);

                                .fa {
                                    margin-right: 8px;
                                }

                                img {
                                    margin-right: 8px;
                                }

                                .fa, img, span {
                                    vertical-align: middle;
                                }

                                .topbar-badge {
                                    float: right;
                                }

                                &:hover {
                                    background-color: $topbarSubmenuHoverBgColor;
                                }
                            }
                        }
                    }
                }

                .topbar-menu-btn {
                    display: none;
                    position: relative;
                    top: -4px;

                    img {
                        width: 40px;
                        height: 40px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
