.font-size-small {
    -webkit-font-smoothing: antialiased;
    font-size: $font-size-small-landing;
}

.font-size-regular {
    -webkit-font-smoothing: antialiased;
    font-size: $font-size-regular-landing;
}

.font-size-large {
    -webkit-font-smoothing: antialiased;
    font-size: $font-size-large-landing;
}