<div class="action-panel">
    <h2>Actions</h2>
    <div class="action-item-container">
      <div class="item" [ngClass] = "{ 'disabled':item.Disabled }" *ngFor="let item of ActionPanelItems"
        (click)="onActionPanelItemsClicked(item.ActionPanelItemKey)">
        <div class="icon-holder">
          <i [ngClass]="item.Icon"></i>
        </div>
        <div>{{item.Description}}</div>
      </div>
    </div>
  </div>