
:host{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
}



.trips{
    height:200px;
}

.delivery-orders{
    height:200px;
}

.source{
    height:200px;
}

.trips-info{
  background-color: white ;  
}

.do-info{
    background-color: white ;  
  }

.source-info{
    background-color: white ;  
  }
  
.graph-header-text h6{
    margin-top: 19px;
    padding: 7px;
    font-weight: 600;

  }

  .stepper-horizontal {
    display: flex;
    justify-content: center;
}
a {
    color: #66656a;
}

li {
    margin:0 30px;
    border-radius: 20px;
    border: 1px solid ;
    list-style: none;
    padding: 5px 10px;
    position: relative;
}

.active {
    border: 1px solid #66656a;
    background-color: #e6e6e6;
}

.completed {
    border: 1px solid #586da3;
    background-color: #729aef;
}

.completed a {
    color: white;
}

li:not(:last-child)::after  {
    content: '';
    position: absolute;
    top: 50%;
    right: -60px;
    width: 58px;
    height: 1px;
    background-color: #babbbf;
    z-index: 2;
}