




<div class="scrollable-main-container both-mandatory ml-2 mt-2">
    <div class="two-section-wrapper">
     
     
      <div class="section py-0 px-2 overflow-hidden">
    <div class= "row">
  
      <div class="col-4 trips-info">
        <div class= "graph-header-text"> 
          <h6>Trips</h6>
      </div>
    
        <kendo-chart class="trips">
          <kendo-chart-series>
          <kendo-chart-series-item
          type="donut" [data]="data"
          categoryField="kind" field="share">
          <kendo-chart-series-item-labels
          color="#fff" background="none">
          </kendo-chart-series-item-labels>
          </kendo-chart-series-item>
          </kendo-chart-series>
          <kendo-chart-legend [visible]="true"></kendo-chart-legend>
          </kendo-chart>
        </div>

        <div class="col-4 do-info">
          <div class= "graph-header-text"> 
            <h6>Delivery Orderes</h6>
          </div>

          <kendo-chart class="delivery-orders">
            <kendo-chart-series>
            <kendo-chart-series-item
            type="donut" [data]="data"
            categoryField="kind" field="share">
            <kendo-chart-series-item-labels
            color="#fff" background="none">
            </kendo-chart-series-item-labels>
            </kendo-chart-series-item>
            </kendo-chart-series>
            <kendo-chart-legend [visible]="true"></kendo-chart-legend>
            </kendo-chart>
          </div>
          <div class="col-4 source-info">

            <div class= "graph-header-text"> 
              <h6>Source</h6>
            </div>

            <kendo-chart class="source">
              <kendo-chart-series>
              <kendo-chart-series-item
              type="donut" [data]="data"
              categoryField="kind" field="share">
              <kendo-chart-series-item-labels
              color="#fff" background="none">
              </kendo-chart-series-item-labels>
              </kendo-chart-series-item>
              </kendo-chart-series>
              <kendo-chart-legend [visible]="true"></kendo-chart-legend>
              </kendo-chart>
            </div>




        </div>


      </div>
  
      <div class="section p-10 flex-column-container section-col overflow-hidden">
        <div class="app-section flex-column-container">
         
          <div class="flex-max-height-container">

            <section class="sub-content-wrapper">
              <div class="sub-component-contianer">
                <div class="filter-panel-container m-b-10">
                  <div class="filter-panel p-3">
                    <div class="left-content">
                      
                      <div class="filter-control-container flex-row ml-2">
                        <div class="input-group ">
                         
                          <input class="form-control text-uppercase" placeholder="Region" />
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                          </div>
                        
                      </div>
                      
                      </div>

                      <div class="filter-control-container flex-row ml-2">
                        <div class="input-group">
                          <input class="form-control text-uppercase" placeholder="Location"/>
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                          </div>
                      </div>
                      
                      </div>

                      <!-- <div class="filter-control-container  flex-row ml-2"> 
                        <kendo-datepicker  placeholder="Start Date"></kendo-datepicker>
                      </div> -->

                      <!-- <div class="filter-control-container flex-row ml-2">
                        <kendo-datepicker  placeholder="End Date"></kendo-datepicker>
                      </div> -->
              
                    </div>

                    <div class="right-content">
                      <div class="filter-control-container px-0 mr-2">
                        <input kendoTextBox />
                      </div>
                      <div class="filter-control-container p-10 px-0 mr-2">
                        <button kendoButton [iconClass]="'fa fa-filter fa-fw'">Filters</button>                
                      </div>
                      <div class="filter-control-container px-0 m-r-10">
                        <button kendoButton [primary]="true">Load Trips</button>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="table-container-row loading">
                  <div class="table-wrapper">
                    <kendo-grid class="tab-grid"
                    [data]="">
                    <kendo-grid-checkbox-column showSelectAll="true" width="20">
                    </kendo-grid-checkbox-column>
                    <kendo-grid-column field="ID" title="Trip No" width="100">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Approved" width="100">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Status" width="100">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Trailer No" width="100">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Capacity" width="100">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Primeover No" width="140">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Start Depot" width="120">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="End Depot" width="120">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Primary Driver No" width="170">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Primary Driver Name" width="185">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Sub Driver No" width="140">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Sub Driver Name" width="155">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Start Date" width="105">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Start Time" width="105">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="End Date" width="100">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="End Time" width="100">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Trip Hours" width="105">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Invoiceble Hours" width="170">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Odo Start" width="100">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Odo End" width="100">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Trip KM" width="100">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="WB. Beofre Refill" width="160">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="WB. Upon Return" width="160">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Road Loss" width="100">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Total Prod Del" width="140">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Total Prod Del KG" width="160">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Total Trip WT" width="130">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Remaining Quantity" width="190">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Cancel Reason" width="140">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Comments" width="120">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Invoiceble" width="120">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Lock User ID" width="120">
                    </kendo-grid-column>

                    <ng-template kendoGridDetailTemplate let-dataItem>
                    <kendo-grid style="height: 100%; width: 65%"
                      [resizable]="true">
                      <kendo-grid-column field="Description" title="Remaining Quantity" width="190">
                      </kendo-grid-column>
                      <kendo-grid-column field="Description" title="Cancel Reason" width="140">
                      </kendo-grid-column>
                      <kendo-grid-column field="Description" title="Comments" width="120">
                      </kendo-grid-column>
                      <kendo-grid-column field="Description" title="Invoiceble" width="120">
                      </kendo-grid-column>
                      <kendo-grid-column field="Description" title="Lock User ID" width="120">
                      </kendo-grid-column>
                  
                    </kendo-grid>
                  </ng-template>
                    
                    
                    
                    


                   
                
                  </kendo-grid>
                  </div>
                  <app-action-panel [ActionPanelItems]="ActionPanelItems"></app-action-panel>
                </div>
              </div>
            </section>
 
          </div>
        </div>
      </div>
    </div>
    <!-- <app-action-menu [ActionMenuItems]="ActionMenuItems" (ActionMenuItemClicked)="actionItemClick()"></app-action-menu> -->
  </div>


     