:host{
  display: flex;
  flex-direction: column;
  height: inherit;
}

.sub-content-wrapper 
{
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.sub-component-contianer .filter-panel-container .filter-panel {
  padding-top: 13px;
  display: flex;
  background-color: white;
  border-top: 1px solid #e9e9f1;
  /* border-bottom: 1px solid #e9e9f1; */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.accessibility-input{
width:400px;    
}
