<div class="scrollable-main-container both-mandatory ml-2 mt-2">
  <div class="two-section-wrapper">
    <div class="section py-0">
    </div>

    <div class="section p-10 flex-column-container section-col overflow-hidden">
      <div class="app-section flex-column-container">
        <div class="tab-panel">
          <div class="left-content">
            <div class="item effect"  [ngClass]="{'active': FormViewModel.TabIndex == 0}" (click)="changeTab(0)">
              {{'configuration.accessibility' | translate}}
            </div>
            <div class="item effect"  [ngClass]="{'active': FormViewModel.TabIndex == 1}" (click)="changeTab(1)">
              {{'configuration.characteristic' | translate}}
            </div>
            <div class="item effect" [ngClass]="{'active': FormViewModel.TabIndex == 2}" (click)="changeTab(2)">
              {{'configuration.requirement_setup' | translate}}
            </div>
            <div class="item effect" [ngClass]="{'active': FormViewModel.TabIndex == 3}" (click)="changeTab(3)">
              {{'configuration.ownership' | translate}}
            </div>
            <div class="item effect" [ngClass]="{'active': FormViewModel.TabIndex == 4}" (click)="changeTab(4)">
              {{'configuration.product_type' | translate}}
            </div>
            <div class="item effect" [ngClass]="{'active': FormViewModel.TabIndex == 5}" (click)="changeTab(5)">
              {{'configuration.speed_profile' | translate}}
            </div>
            <div class="item effect" [ngClass]="{'active': FormViewModel.TabIndex == 6}" (click)="changeTab(6)">
              {{'configuration.pressure_range' | translate}}
            </div>
          </div>
        </div>
        <div class="flex-max-height-container">
          <section class="sub-content-wrapper">
            <div class="sub-component-contianer">
              <div class="filter-panel-container m-b-10">
                <div class="filter-panel p-3">
                  <div class="left-content">
                    <div class="filter-control-container flex-row">
                      <div class="input-group">
                        <input class="form-control text-uppercase" placeholder="search" />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="filter-control-container d-flex flex-row align-items-center p-10">
                      <div class="input-group">
                        <input kendoTextBox placeholder=" Accessibility description" class="accessibility-input ml-2" />
                      </div>
                    </div>
                  </div>
                  <div class="right-content">
                    <div class="filter-control-container px-0 mr-2">
                      <input kendoTextBox />
                    </div>
                    <div class="filter-control-container px-0 m-r-10">
                      <button kendoButton [primary]="true">search</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-container-row loading">
                <div class="table-wrapper" *ngIf="FormViewModel.TabIndex === 0">
                  <kendo-grid class="tab-grid" [data]="FormViewModel.AccessibilityList">
                    <kendo-grid-checkbox-column showSelectAll="true" width="30">
                    </kendo-grid-checkbox-column>
                    <kendo-grid-column field="Id" title="Accessibility ID" width="150">
                    </kendo-grid-column>
                    <kendo-grid-column field="Type" title="Accessibility Type" width="150">
                    </kendo-grid-column>
                    <kendo-grid-column field="Description" title="Accessibility Description" width="250">
                    </kendo-grid-column>
                  </kendo-grid>
                </div>
                <app-action-panel [ActionPanelItems]="ActionPanelItems"></app-action-panel>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
 </div>