/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    font-family: "Lato", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #f3f2f7;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background: #e6e4ef;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #cdc9da;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}

.k-textbox,
.k-input.k-textbox,
.k-textarea,
.k-button,
.k-widget,
.k-dropdowntree,
.k-popup,
.k-grid-header,
.k-sort-order .k-spreadsheet-action-bar {
    font-size: inherit;
}

/*Kendo Control Style Override*/
.k-grid-header {
    border-color: #ced4dc !important;
    color: #2a2c2f !important;
    background-color: #e7e7ef !important;
}

/*Padding & Margin Declare*/
.m-0 {
    margin: 0 !important;
}

.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.m-t-0 {
    margin-top: 0;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-t-5 {
    margin-top: 5px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-r-5 {
    margin-right: 5px;
}

.m-10 {
    margin: 10px;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-l-10 {
    margin-left: 10px;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-15 {
    margin: 15px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-20 {
    margin: 20px
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-l-20 {
    margin-left: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

.p-0 {
    padding: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-10 {
    padding: 10px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-5 {
    padding: 5px !important;
}

.p-l-5 {
    padding-left: 5px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-15 {
    padding: 15px;
}

.p-r-15 {
    padding-right: 15px !important;
}

.p-20 {
    padding: 20px;
}

.window-style {
    -webkit-box-shadow: 0px 7px 33px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 33px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 33px 0px rgba(0, 0, 0, 0.75);
}

.broken-promise-row {
    background-color: #FFBC6B !important;
}

.promise-row {
    background-color: #BEFFFE !important;
}

.dispute-reason-row {
    background-color: #FBFEBC !important;
}

.invalid-field {
    border-color: #dc3545 !important;
}

.invalid-field .k-dropdown-wrap {
    border-color: #dc3545 !important;
}

.delete-row {
    background-color: #ff9ba5 !important;
}

.saved-row {
    background-color: #abffa0 !important;
}

.cont-only {
    background-color: #FFBC6B !important;
}

.cont-default {
    background-color: rgb(86, 153, 255) !important;
}

.default-only {
    background-color: rgb(184, 255, 151) !important;
}

.mandatory-field-indicator {
    color: #dc3545;
    font-size: 20px;
    position: absolute;
    top: -5px;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

.border-all {
    border: 1px solid #e9e9f1
}

.border-top {
    border-top: 1px solid #e9e9f1
}

.border-bottom {
    border-bottom: 1px solid #e9e9f1
}

.border-left {
    border-left: 1px solid #e9e9f1
}

.border-right {
    border-right: 1px solid #e9e9f1
}

.status-active {
    background-color: #58d289 !important;
}

.status-hold {
    background-color: #ffdc75 !important;
    color: white;
}

.status-inactive {
    background-color: #fd7687 !important;
}

.currency-badge {
    background-color: #78a5ff !important;
    margin-top: 4px;
    margin-bottom: 3px;
}

.header-label {
    color: #676161;
    font-weight: 500;
    margin-bottom: -3px;
}

.btn-xs {
    padding: 0.35rem 0.4rem;
    font-size: 0.875rem;
    line-height: 1;
    border-radius: 0.2rem;
    font-size: 12px;
}

.status-active {
    background-color: #58d289 !important;
}

.status-hold {
    background-color: #ffdc75 !important;
    color: white;
}

.status-inactive {
    background-color: #fd7687 !important;
}

.currency-badge {
    background-color: #78a5ff !important;
}

.header-label {
    color: #676161;
    font-weight: 500;
}

.cust-name-label {
    color: #716b6b;
    font-weight: 600;
}

.details-label {
    color: #696565;
}
.window-style {
    -webkit-box-shadow: 0px 7px 33px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 33px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 33px 0px rgba(0, 0, 0, 0.75);
}

.broken-promise-row {
    background-color: #FFBC6B !important;
}

.promise-row {
    background-color: #BEFFFE !important;
}

.dispute-reason-row {
    background-color: #FBFEBC !important;
}

.invalid-field {
    border-color: #dc3545 !important;
}

.invalid-field .k-dropdown-wrap {
    border-color: #dc3545 !important;
}

.delete-row {
    background-color: #ff9ba5 !important;
}

.saved-row {
    background-color: #abffa0 !important;
}

.cont-only {
    background-color: #FFBC6B !important;
}

.cont-default {
    background-color: rgb(86, 153, 255) !important;
}

.default-only {
    background-color: rgb(184, 255, 151) !important;
}

.mandatory-field-indicator {
    color: #dc3545;
    font-size: 20px;
    position: absolute;
    top: -5px;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

.border-all {
    border: 1px solid #e9e9f1
}

.border-top {
    border-top: 1px solid #e9e9f1
}

.border-bottom {
    border-bottom: 1px solid #e9e9f1
}

.border-left {
    border-left: 1px solid #e9e9f1
}

.border-right {
    border-right: 1px solid #e9e9f1
}

.m-t-auto {
    margin-top: auto;
}

.m-l-auto {
    margin-left: auto;
}

.m-r-auto {
    margin-right: auto;
}

.m-b-auto {
    margin-bottom: auto;
}

.contract-customer-tooltip * {
    color: #000000;
}

.delete-icon {
    color: red;
    cursor: pointer;
    font-size: 14px;
}

.customer-details-row {
    margin-top: -6px;
}

.badge-normal {
    color: #6b6969;
    background-color: #f7f7f7;
    font-size: 11px;
    border: 1px solid #c5c5c5;
    font-weight: 600;
}