<div class="layout-footer clearfix">
  BLAC V 1.0.0
  <div class="layout-footer-icons">
    Powered by <span class="highlight-txt">Air Liquide</span> © 2013 - {{today | date:'yyyy'}}
  </div>
</div>

