@charset "UTF-8";
/* Add your variable customizations of layout here */
.app-form-group {
  margin-bottom: 1rem;
}
.app-form-group label {
  margin-bottom: 0.3rem;
  color: black;
}
.app-form-group .k-textbox {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  width: 12.4em;
  font-size: 1rem;
  height: calc( 2px + 0.75rem + 1.5em);
}
.app-form-group .k-textbox:focus {
  border-color: #b8e9cb;
  box-shadow: none;
}
.app-form-group .k-textarea {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  width: 12.4em;
  font-size: 1rem;
  min-height: calc( 0.75rem + 6em);
}
.app-form-group .k-textarea:focus {
  border-color: #b8e9cb;
  box-shadow: none;
}
.app-form-group .k-datepicker {
  width: 12.4em;
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
}
.app-form-group .k-switch {
  border-radius: 5em;
  width: 5em;
  background: none;
  border: 0;
  font-size: 0.75rem;
}
.app-form-group .k-switch .k-switch-container {
  border-radius: 5em;
  padding: 3px 3px;
  transition: background-color 200ms ease-out 0s;
}
.app-form-group .k-switch .k-switch-container .k-switch-handle {
  border-radius: 5em;
  width: 2em;
  height: 2em;
  transition: left 200ms ease-out 0s;
}
.app-form-group .k-switch-on .k-switch-container {
  color: white;
  background-color: #57ca85;
}
.app-form-group .k-switch-off .k-switch-container {
  color: black;
  background-color: #e4e7eb;
}
.app-form-group .k-button {
  border-radius: 0.25rem;
  font-size: 14px;
  line-height: 1.5;
}
.app-form-group .k-button:hover {
  border-color: #c7cdd5;
  color: #212529;
  background-color: #ced3db;
}
.app-form-group .k-button .k-primary {
  border-color: #57ca85;
  color: #ffffff;
  background-color: #57ca85;
}
.app-form-group .k-button .k-primary:hover {
  border-color: #39b56b;
  color: #ffffff;
  background-color: #3cbf70;
}
.app-form-group .k-button [disabled], .app-form-group .k-button [disabled] .k-button {
  opacity: 0.65;
  filter: grayscale(0.1);
}
.app-form-group .k-combobox {
  width: 12.4em;
  font-size: 1rem;
}
.app-form-group .k-combobox .k-dropdown-wrap {
  border-color: rgba(33, 37, 41, 0.15);
  color: #292b2c;
  background-color: #ffffff;
}
.app-form-group .k-combobox .k-dropdown-wrap .k-input {
  padding: 0.375rem 0.75rem;
  height: calc( 0.75rem + 1.5em);
}
.app-form-group .k-combobox .k-dropdown-wrap .k-select {
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0.375rem 0.375rem;
}
.app-form-group .k-dropdown {
  width: 12.4em;
  font-size: 1rem;
}
.app-form-group .k-dropdown .k-dropdown-wrap {
  border-color: #e4e7eb;
  color: #292b2c;
  background-color: #e4e7eb;
}
.app-form-group .k-dropdown .k-dropdown-wrap .k-input {
  padding: 0.375rem 0.75rem;
  height: calc( 0.75rem + 1.5em);
}
.app-form-group .k-dropdown .k-dropdown-wrap .k-select {
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0.375rem 0.375rem;
}
.app-form-group .k-multiselect {
  width: 12.4em;
  font-size: 1rem;
  background-color: transparent;
}
.app-form-group .k-multiselect .k-multiselect-wrap {
  border-radius: 0.25rem;
  padding: 0;
  width: 100%;
  border-color: rgba(33, 37, 41, 0.15);
  color: #292b2c;
  background-color: #ffffff;
}
.app-form-group .k-multiselect .k-multiselect-wrap::before {
  width: 0;
  height: calc( 1.5em + 0.75rem);
}
.app-form-group .k-window {
  border-radius: 0.25rem;
  padding: 0;
  border-color: rgba(33, 37, 41, 0.125);
  color: #292b2c;
  background-color: #ffffff;
}
.app-form-group .k-window .k-window-titlebar {
  border-color: rgba(33, 37, 41, 0.125);
  color: #292b2c;
  background-color: #ffffff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 1rem 1rem 1rem 1rem;
}
.app-form-group .k-window .k-window-titlebar .k-window-title {
  margin: -0.15em 0;
  font-size: 1.25rem;
  line-height: 1.3;
}
.app-form-group .k-window .k-window-titlebar .k-window-actions {
  margin: calc( -0.375rem + -1px);
  line-height: 1;
}
.app-form-group .k-window .k-window-content, .app-form-group .k-window .k-prompt-container {
  padding: 1rem 1rem;
  color: inherit;
  background: none;
}
.app-form-group .k-window .k-dialog-buttongroup {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 0;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: inherit;
}
.app-form-group .k-grid {
  border-color: rgba(33, 37, 41, 0.125);
  color: #292b2c;
  background-color: #ffffff;
}
.app-form-group .k-grid .k-grid-header {
  font-size: 14px !important;
}
.app-form-group .k-grid .k-grid-header .k-grid th, .app-form-group .k-grid .k-grid-header .k-grid td {
  padding: 0.75rem 0.75rem;
  border-width: 0 0 1px 1px;
}
.app-form-group .k-grid .k-grid-header .k-filter-row {
  line-height: 1.5;
}
.app-form-group .k-grid .k-filtercell .k-filtercell-wrapper > .k-textbox {
  width: 100%;
  min-width: 0;
}
.app-form-group .k-popup {
  border-radius: 0.25rem;
  margin: 0.125rem 0 0 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.splash-screen {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -34px;
  margin-top: -34px;
  padding: 30px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: #282939;
}
.splash-screen .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -22px;
  margin-left: -20px;
}

.splash-screen::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  border: solid 2px #282939;
  top: 0;
  left: 0;
  animation: grow 1s infinite ease-in-out;
}

.splash-screen::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 50%;
  border: solid 2px #282939;
  top: 0;
  left: 0;
  animation: grow 1s 0.5s infinite ease-in-out;
}

@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.loader::before {
  background: #282939;
  animation: grow 1.5s infinite ease-out;
}

.loader::after {
  animation: grow 2s 0.5s infinite ease-out;
}

@keyframes spinning {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.login-body {
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../../../assets/images/bg-img.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}
.login-body .location-block {
  margin-top: 10px;
}
.login-body .location-block .ui-dropdown {
  border: 0;
  border-bottom: 1px solid #ececec;
}
.login-body .location-block .ui-dropdown label.ui-dropdown-label:before {
  content: "";
  position: relative;
  left: -5px;
  content: "";
  font-family: FontAwesome;
}
.login-body .login-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -260px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.24);
  border: 20px solid #ffffff1f;
  width: 460px;
}
.login-body .login-panel .login-top {
  background: #0c77d0;
  text-align: center;
  padding: 5px 0;
}
.login-body .login-panel .user-block h3 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 22px;
}
.login-body .login-panel .login-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  display: block;
}
.login-body .login-panel .ui-g-6 {
  padding: 0;
}
.login-body .login-panel .right-side {
  padding: 100px 0;
}
.login-body .login-panel .ui-g-12 {
  padding: 10px 50px 10px 50px;
}
.login-body .login-panel .ui-g-12.container {
  margin-bottom: 20px;
}
.login-body .login-panel .ui-g-12.container h2 {
  color: #272939;
  font-size: 14px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 0;
}
.login-body .login-panel .ui-g-12.container h3 {
  color: #b7b7c3;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}
.login-body .login-panel .login-image {
  height: 100%;
  width: 100%;
}
.login-body .login-panel .input-wrapper {
  position: relative;
}
.login-body .login-panel .input-wrapper i {
  position: absolute;
  color: #bdc3c9;
  top: 5px;
  right: 8px;
  font-size: 16px;
}
.login-body .login-panel .input-wrapper input {
  padding-right: 22px;
}
.login-body .login-panel .input-wrapper .ui-dropdown {
  padding: 10px 0;
}
.login-body .login-panel .input-wrapper .ui-dropdown:hover {
  border: 0;
  border-bottom: 1px solid rgba(90, 136, 176, 0.397);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}
.login-body .login-panel label.select-location {
  display: inline-block;
  padding: 10px 20px;
  background-color: #607d8b0d;
  border-radius: 5px;
  color: #080808;
  border: 1px solid #607d8b14;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #0d304c;
}
.login-body .login-panel .button-container {
  margin-top: 40px;
}
.login-body .login-panel .ui-inputtext {
  font-size: 11px;
}

@media (max-width: 640px) {
  .login-body .login-panel {
    width: 100%;
    margin: 0;
    left: 0;
    top: 80px;
  }
  .login-body .login-panel .ui-g-12 {
    padding: 15px 50px;
  }
  .login-body .login-panel .left-side {
    display: none;
  }
  .login-body .login-panel .right-side {
    padding: 0;
  }
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: #f4f3f8;
}

a {
  text-decoration: none;
}

.layout-wrapper .layout-main {
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}
.layout-wrapper .layout-main .layout-topbar {
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  padding: 13px 24px;
  position: fixed;
  z-index: 999;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-box-shadow: 0 1px 10px 0 rgba(182, 183, 195, 0.5);
  -moz-box-shadow: 0 1px 10px 0 rgba(182, 183, 195, 0.5);
  box-shadow: 0 1px 10px 0 rgba(182, 183, 195, 0.5);
}
.layout-wrapper .layout-main .layout-topbar .menu-btn {
  vertical-align: top;
  margin-right: 16px;
  font-size: 24px;
  color: #b6b7c2;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.layout-wrapper .layout-main .layout-topbar .menu-btn:hover {
  color: #7f8087;
}
.layout-wrapper .layout-main .layout-topbar .topbar-search {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
}
.layout-wrapper .layout-main .layout-topbar .topbar-search input {
  border: 0 none;
  width: 150px;
  padding: 6px 6px 6px 18px;
  font-size: 14px;
  background-color: transparent;
  border-bottom: 1px solid #d8dae2;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: 0 none;
}
.layout-wrapper .layout-main .layout-topbar .topbar-search input:focus {
  width: 250px;
}
.layout-wrapper .layout-main .layout-topbar .topbar-search i {
  position: absolute;
  left: 0;
  top: 8px;
  color: #b6b7c2;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper {
  float: right;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 4px 0 0 0;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu .topbar-badge {
  width: 16px;
  height: 16px;
  text-align: center;
  background-color: #7f7f7f;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li {
  float: right;
  margin-left: 20px;
  position: relative;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a {
  color: #333333;
  position: relative;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a .topbar-item-name {
  display: none;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a i {
  font-size: 24px;
  color: #b6b7c2;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a i:hover {
  color: #7f8087;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a .topbar-badge {
  position: absolute;
  right: -4px;
  top: -14px;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.profile-item {
  margin-left: 20px;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.profile-item > a {
  display: inline-block;
  position: relative;
  top: -4px;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.profile-item > a img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-top: -4px;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.profile-item > a span {
  font-weight: bold;
  display: inline-block;
  margin-left: 6px;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.profile-item ul {
  right: 105px;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.active-topmenuitem > a i {
  color: #48494d;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.active-topmenuitem > ul {
  display: block;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul {
  position: absolute;
  top: 36px;
  right: 0;
  display: none;
  width: 250px;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a {
  display: block;
  width: 100%;
  color: #333333;
  padding: 8px 14px;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a .fa {
  margin-right: 8px;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a img {
  margin-right: 8px;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a .fa, .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a img, .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a span {
  vertical-align: middle;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a .topbar-badge {
  float: right;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > ul a:hover {
  background-color: #f1f2f7;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu-btn {
  display: none;
  position: relative;
  top: -4px;
}
.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu-btn img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.tab-wrapper {
  background-color: #525252;
  margin-top: 56px;
  padding: 4px 5px;
}
.tab-wrapper a.tab-item {
  padding: 1px 2px;
  display: inline-block;
  cursor: pointer;
  color: #d9e0e6 !important;
  transition: 0.5s;
  border: 1px solid #ffffff30;
  background-color: #002b4e0a;
  border-radius: 30px;
  margin-right: 8px;
  font-size: 0.9em;
}
.tab-wrapper a.tab-item:hover {
  background-color: #0000003d;
  color: #ffffff;
  border-radius: 30px;
  border: 1px solid #ffffff5e;
}
.tab-wrapper a.tab-item > span {
  margin: 4px 4px 4px 10px;
  display: inline-block;
  text-align: center;
}
.tab-wrapper .tab-item-close {
  font-size: 15px;
}
.tab-wrapper .tab-item-lble {
  vertical-align: 1px;
}
.tab-wrapper a.tab-item.active {
  background: #0000003d;
  color: #ffffff;
  border-radius: 30px;
  border: 1px solid #ffffff5e;
}
.tab-wrapper a.tab-item.active:hover {
  color: #ffffff;
}

.layout-wrapper .layout-sidebar {
  position: fixed;
  z-index: 999;
  background: #2c2d3c;
}
.layout-wrapper .layout-sidebar .layout-sidebar-logo {
  height: 56px;
  padding: 12px 10px;
  background-color: #3d72b4;
  background-image: -webkit-gradient(linear, left top, right top, from(#3d72b4), to(#525252));
  background-image: -webkit-linear-gradient(to right, #3d72b4, #525252);
  background-image: -moz-linear-gradient(to right, #3d72b4, #525252);
  background-image: -ms-linear-gradient(to right, #3d72b4, #525252);
  background-image: -o-linear-gradient(to right, #3d72b4, #525252);
  background-image: linear-gradient(to right, #3d72b4, #525252);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d72b4", endColorstr="#525252", gradientType="1");
}
.layout-wrapper .layout-sidebar .layout-sidebar-logo:after {
  content: "";
  display: table;
  clear: both;
}
.layout-wrapper .layout-sidebar .layout-sidebar-logo img {
  float: right;
  height: 32px;
}
.layout-wrapper .layout-sidebar .layout-sidebar-logo .layout-sidebar-anchor {
  font-size: 24px;
  color: #ffffff;
  display: none;
}
.layout-wrapper .layout-sidebar .layout-sidebar-logo .layout-sidebar-anchor i:before {
  content: "";
}
.layout-wrapper .layout-sidebar .layout-menu {
  list-style-type: none;
  margin: 16px 0 0 0;
  padding: 0;
}
.layout-wrapper .layout-sidebar .layout-menu > li > a:hover {
  background-color: #1d1d26;
}
.layout-wrapper .layout-sidebar .layout-menu > li > ul {
  border-left: 4px solid transparent;
}
.layout-wrapper .layout-sidebar .layout-menu > li.active-menuitem > a {
  color: #3D72B4;
  padding-left: 12px;
  border-left: 4px solid #3d72b4;
}
.layout-wrapper .layout-sidebar .layout-menu > li.active-menuitem > a:hover {
  background-color: #1d1d26;
}
.layout-wrapper .layout-sidebar .layout-menu > li.active-menuitem > a i:first-child {
  color: #3D72B4;
}
.layout-wrapper .layout-sidebar .layout-menu > li.active-menuitem > ul {
  border-left-width: 4px;
  border-left-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d72b4), to(#525252)) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(#3d72b4, #525252) 1 100%;
  -moz-border-image: -moz-linear-gradient(#3d72b4, #525252) 1 100%;
  -o-border-image: -o-linear-gradient(#3d72b4, #525252) 1 100%;
  border-image: linear-gradient(to bottom, #3d72b4, #525252) 1 100%;
}
.layout-wrapper .layout-sidebar .layout-menu li {
  width: 100%;
}
.layout-wrapper .layout-sidebar .layout-menu li > a {
  color: #d9dae3;
  display: block;
  padding: 4px 20px 4px 10px;
  transition: border-left-color 0.3s cubic-bezier(1, 0.01, 1, 0.4), background-color 0.3s ease;
}
.layout-wrapper .layout-sidebar .layout-menu li > a:after {
  content: "";
  display: table;
  clear: both;
}
.layout-wrapper .layout-sidebar .layout-menu li > a i:first-child {
  color: #d9dae3;
  float: right;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
}
.layout-wrapper .layout-sidebar .layout-menu li > a .layout-submenu-toggler {
  float: right;
  font-size: 18px;
  margin-right: 12px;
  margin-top: 9px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.layout-wrapper .layout-sidebar .layout-menu li > a span {
  margin-top: 9px;
  display: inline-block;
}
.layout-wrapper .layout-sidebar .layout-menu li.active-menuitem {
  background-color: #17171e;
}
.layout-wrapper .layout-sidebar .layout-menu li.active-menuitem > a {
  color: #3D72B4;
}
.layout-wrapper .layout-sidebar .layout-menu li.active-menuitem > a i {
  color: #3D72B4;
}
.layout-wrapper .layout-sidebar .layout-menu li.active-menuitem > a .layout-submenu-toggler {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.layout-wrapper .layout-sidebar .layout-menu li ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #17171e;
}
.layout-wrapper .layout-sidebar .layout-menu li ul li > a:hover {
  background-color: #242430;
}
.layout-wrapper .layout-sidebar .layout-menu li ul li a {
  padding-left: 32px;
}
.layout-wrapper .layout-sidebar .layout-menu li ul li li a {
  padding-left: 48px;
}
.layout-wrapper .layout-sidebar .layout-menu li ul li li li a {
  padding-left: 64px;
}
.layout-wrapper .layout-sidebar .layout-menu li ul li li li li a {
  padding-left: 80px;
}
.layout-wrapper .layout-sidebar .layout-menu li ul li li li li li a {
  padding-left: 96px;
}
.layout-wrapper .layout-sidebar .layout-menu li ul li li li li li li a {
  padding-left: 110px;
}
.layout-wrapper .layout-sidebar .layout-menu .menuitem-badge {
  float: right;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  margin-top: 9px;
  text-align: center;
  background-color: #7f7f7f;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.layout-wrapper .layout-sidebar .ui-scrollpanel {
  background-color: transparent;
  border-radius: 0;
  border: none;
}
.layout-wrapper .layout-sidebar .ui-scrollpanel .ui-scrollpanel-bar {
  background-color: #aaaaaa;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.layout-wrapper .layout-sidebar .ui-scrollpanel .ui-scrollpanel-hidden {
  display: block;
  visibility: hidden;
}
.layout-wrapper .layout-sidebar .ui-scrollpanel .sidebar-scroll-content {
  width: 288px;
  padding-right: 18px;
  padding-bottom: 170px;
}

@media (min-width: 1281px) {
  .layout-wrapper.layout-slim .layout-sidebar, .layout-wrapper.layout-static .layout-sidebar, .layout-wrapper.layout-overlay .layout-sidebar, .layout-wrapper.layout-toggle .layout-sidebar {
    width: 260px;
    height: 100%;
    top: 0;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  }
  .layout-wrapper.layout-slim .layout-sidebar {
    left: -210px;
  }
  .layout-wrapper.layout-slim .layout-sidebar .layout-sidebar-logo .layout-sidebar-anchor {
    display: inline-block;
  }
  .layout-wrapper.layout-slim.layout-slim-active .layout-sidebar {
    left: 0;
    z-index: 9999;
  }
  .layout-wrapper.layout-slim.layout-slim-anchored .layout-sidebar {
    left: 0;
  }
  .layout-wrapper.layout-slim.layout-slim-anchored .layout-sidebar .layout-sidebar-logo .layout-sidebar-anchor i:before {
    content: "";
  }
  .layout-wrapper.layout-slim.layout-slim-anchored .layout-main {
    margin-left: 260px;
  }
  .layout-wrapper.layout-slim.layout-slim-anchored .layout-main .layout-topbar {
    width: calc(100% - 260px);
  }
  .layout-wrapper.layout-slim.layout-slim-restore .layout-sidebar {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
  }
  .layout-wrapper.layout-slim.layout-slim-restore .layout-main {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
  }
  .layout-wrapper.layout-slim .layout-main {
    margin-left: 50px;
  }
  .layout-wrapper.layout-slim .layout-main .layout-topbar {
    width: calc(100% - 50px);
  }
  .layout-wrapper.layout-slim .layout-main .layout-topbar .menu-btn {
    display: none;
  }
  .layout-wrapper.layout-static .layout-sidebar {
    left: 0;
  }
  .layout-wrapper.layout-static .layout-main {
    margin-left: 280px;
  }
  .layout-wrapper.layout-static .layout-main .layout-topbar {
    width: calc(100% - 280px);
  }
  .layout-wrapper.layout-static .layout-main .layout-topbar .menu-btn {
    display: inline-block;
  }
  .layout-wrapper.layout-static.layout-static-inactive .layout-sidebar {
    left: -280px;
  }
  .layout-wrapper.layout-static.layout-static-inactive .layout-main {
    margin-left: 0;
  }
  .layout-wrapper.layout-static.layout-static-inactive .layout-main .layout-topbar {
    width: 100%;
  }
  .layout-wrapper.layout-overlay .layout-sidebar {
    left: -270px;
  }
  .layout-wrapper.layout-overlay .layout-main .layout-topbar {
    width: 100%;
  }
  .layout-wrapper.layout-overlay .layout-main .layout-topbar .menu-btn {
    display: inline-block;
  }
  .layout-wrapper.layout-overlay.layout-overlay-active .layout-sidebar {
    left: 0;
  }
  .layout-wrapper.layout-toggle .layout-sidebar {
    left: -270px;
  }
  .layout-wrapper.layout-toggle .layout-main .layout-topbar {
    width: 100%;
  }
  .layout-wrapper.layout-toggle .layout-main .layout-topbar .menu-btn {
    position: fixed;
    top: 50%;
    left: 0;
    display: block;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    background-color: #2c2d3c;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .layout-wrapper.layout-toggle .layout-main .layout-topbar .menu-btn i {
    margin-left: 24px;
  }
  .layout-wrapper.layout-toggle .layout-main .layout-topbar .menu-btn i:before {
    content: "";
  }
  .layout-wrapper.layout-toggle .layout-main .layout-topbar .menu-btn:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .layout-wrapper.layout-toggle.layout-toggle-active .layout-sidebar {
    left: 0;
  }
  .layout-wrapper.layout-toggle.layout-toggle-active .layout-main .layout-topbar .menu-btn {
    left: 270px;
  }
  .layout-wrapper.layout-toggle.layout-toggle-active .layout-main .layout-topbar .menu-btn i:before {
    content: "";
  }
  .layout-wrapper.layout-horizontal .layout-sidebar {
    width: 100%;
    height: auto;
    top: 64px;
    left: 0;
    z-index: 998;
    -webkit-box-shadow: 0 1px 10px 0 rgba(182, 183, 195, 0.5);
    -moz-box-shadow: 0 1px 10px 0 rgba(182, 183, 195, 0.5);
    box-shadow: 0 1px 10px 0 rgba(182, 183, 195, 0.5);
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-sidebar-logo {
    display: none;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .ui-scrollpanel .ui-scrollpanel-wrapper {
    overflow: visible;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .ui-scrollpanel .ui-scrollpanel-wrapper .ui-scrollpanel-content {
    overflow: visible;
    padding: 0;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .ui-scrollpanel .ui-scrollpanel-bar {
    display: none;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .ui-scrollpanel .sidebar-scroll-content {
    width: 100%;
    padding-bottom: 0;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu {
    margin: 0;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li {
    display: inline-block;
    width: auto;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li > a {
    height: 44px;
    display: inline-block;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li > a i:first-child {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-top: 6px;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li > a span {
    margin-right: 6px;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li > a .layout-submenu-toggler {
    margin-right: 0;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li > a .menuitem-badge {
    margin-right: 0;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu > li > ul {
    position: absolute;
    min-width: 200px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu li ul li a {
    padding-left: 16px;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu li ul li li a {
    padding-left: 32px;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu li ul li li li a {
    padding-left: 48px;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu li ul li li li li a {
    padding-left: 64px;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu li ul li li li li li a {
    padding-left: 80px;
  }
  .layout-wrapper.layout-horizontal .layout-sidebar .layout-menu li ul li li li li li li a {
    padding-left: 96px;
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar {
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #3d72b4;
    background-image: -webkit-gradient(linear, left top, right top, from(#3d72b4), to(#525252));
    background-image: -webkit-linear-gradient(to right, #3d72b4, #525252);
    background-image: -moz-linear-gradient(to right, #3d72b4, #525252);
    background-image: -ms-linear-gradient(to right, #3d72b4, #525252);
    background-image: -o-linear-gradient(to right, #3d72b4, #525252);
    background-image: linear-gradient(to right, #3d72b4, #525252);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d72b4", endColorstr="#525252", gradientType="1");
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar .menu-btn {
    display: none;
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar .topbar-search input {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar .topbar-search i {
    color: #ffffff;
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a {
    color: #ffffff;
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a i, .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a .topbar-item-name {
    color: #ffffff;
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a i:hover, .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li > a .topbar-item-name:hover {
    color: #BDD0E7;
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.active-topmenuitem > a i {
    color: #BDD0E7;
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.active-topmenuitem > ul {
    display: block;
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .rightpanel-btn i {
    color: #ffffff;
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .rightpanel-btn i:hover {
    color: #BDD0E7;
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-topbar .layout-topbar-menu-wrapper .rightpanel-btn.rightpanel-btn-active i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    color: #BDD0E7;
  }
  .layout-wrapper.layout-horizontal .layout-main .layout-content {
    padding: 124px 16px 24px 16px;
  }
}
.layout-wrapper.layout-light .layout-sidebar {
  background: #f2f2f7;
}
.layout-wrapper.layout-light .layout-sidebar .layout-menu > li > a:hover {
  background-color: #d9d9de;
}
.layout-wrapper.layout-light .layout-sidebar .layout-menu > li.active-menuitem > a {
  color: #3D72B4;
}
.layout-wrapper.layout-light .layout-sidebar .layout-menu > li.active-menuitem > a i:first-child {
  color: #ffffff;
  background-color: #3D72B4;
}
.layout-wrapper.layout-light .layout-sidebar .layout-menu > li.active-menuitem > a:hover {
  background-color: #d9d9de;
}
.layout-wrapper.layout-light .layout-sidebar .layout-menu li > a {
  color: #575867;
}
.layout-wrapper.layout-light .layout-sidebar .layout-menu li > a i:first-child {
  color: #575867;
  background-color: #d9d9de;
}
.layout-wrapper.layout-light .layout-sidebar .layout-menu li.active-menuitem {
  background-color: #ffffff;
}
.layout-wrapper.layout-light .layout-sidebar .layout-menu li.active-menuitem > a {
  color: #3D72B4;
}
.layout-wrapper.layout-light .layout-sidebar .layout-menu li ul {
  background-color: #ffffff;
}
.layout-wrapper.layout-light .layout-sidebar .layout-menu li ul li > a:hover {
  background-color: #d9d9de;
}
.layout-wrapper.layout-light .layout-sidebar .ui-scrollpanel .ui-scrollpanel-bar {
  background: #aaa;
}

.layout-wrapper .layout-main .layout-content {
  padding: 16px 16px 24px 16px;
}
.layout-wrapper .layout-main .layout-main-mask {
  display: none;
}

.layout-wrapper .layout-main .layout-footer {
  padding: 10px 24px;
  border: 1px solid #dee4e9;
  background: #ffffff;
}
.layout-wrapper .layout-main .layout-footer img {
  margin-top: 5px;
}
.layout-wrapper .layout-main .layout-footer .layout-footer-icons {
  float: right;
}
.layout-wrapper .layout-main .layout-footer .layout-footer-icons a {
  font-size: 24px;
  margin-left: 28px;
  display: inline-block;
}
.layout-wrapper .layout-main .layout-footer .layout-footer-icons a i {
  color: #333333;
}
.layout-wrapper .layout-main .layout-footer .layout-footer-icons a i:hover {
  color: #737373;
}

/* Utils */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.card {
  border-radius: 2px;
  background: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.card.card-w-title {
  padding-bottom: 16px;
}
.card.no-gutter {
  margin-bottom: 0;
}
.card h1 {
  font-size: 20px;
  font-weight: 400;
  margin: 24px 0;
}
.card h1:first-child {
  margin-top: 0px;
}
.card h2 {
  font-size: 18px;
  font-weight: 400;
}
.card h3 {
  font-size: 16px;
  font-weight: 400;
}
.card h4 {
  font-size: 14px;
  font-weight: 400;
}

.nopad {
  padding: 0;
}
.nopad .ui-panel-content {
  padding: 0;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.ui-g {
  -ms-flex-wrap: wrap;
}

.ui-shadow-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ui-shadow-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ui-shadow-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.ui-shadow-4 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ui-shadow-5 {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.table-container .table-filter-container {
  display: flex;
  width: 100%;
  height: 50px;
}
.table-container .table-data-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.table-container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.table-container-row .table-wrapper {
  flex-grow: 2;
  position: relative;
  margin: 0 0 10px 10px;
}

.list-item-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid #ded5d5;
  border-radius: 10px;
  padding: 10px;
}
.list-item-container .list-item {
  display: flex;
  align-items: center;
  word-break: break-all;
}
.list-item-container .date-by-period {
  color: #7f7f7f;
  font-size: 12px;
  font-weight: bold;
}

.border-l-primary {
  border-left: 5px solid #525252 !important;
}

.app-section {
  background: #FFFFFF;
  border: 1px solid #e9e9f3;
  box-sizing: border-box;
}
.app-section .header-with-bg {
  display: flex;
  flex-direction: column;
  height: 30px;
  background-color: #ebe9f1;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.top-bar {
  display: flex;
}
.top-bar .header-item-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.top-bar .header-item-container .label {
  font-size: 0.8em;
}
.top-bar .header-item-container .data {
  font-weight: 600;
}

.tab-panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}
.tab-panel .item {
  margin: 10px;
  font-weight: 1000;
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
}
.tab-panel .item:before, .tab-panel .item:after {
  content: "";
  position: absolute;
  transition: transform 0.3s ease;
}
.tab-panel .item .icon {
  display: none;
}
.tab-panel .effect {
  padding-top: 10px;
}
.tab-panel .effect:before {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #525252;
  transform: scaleX(0);
}
.tab-panel .effect:hover:before {
  transform: scaleX(1);
}
.tab-panel .active {
  border-bottom: 2px Solid #525252;
  color: #525252;
  margin-bottom: 8px;
}
.tab-panel .left-content {
  flex-grow: 1;
  display: flex;
}
.tab-panel .right-content {
  justify-content: flex-end;
}
.tab-panel .right-content .icon {
  font-size: 22px;
}

.tab-panel-round {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #FFFFFF;
}
.tab-panel-round .item {
  padding: 0.4em 1em;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0 3px;
}
.tab-panel-round .item:hover {
  background-color: #FEFEFE;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#F2F6F7));
  background-image: -webkit-linear-gradient(top, #FEFEFE, #F2F6F7);
  background-image: -moz-linear-gradient(top, #FEFEFE, #F2F6F7);
  background-image: -ms-linear-gradient(top, #FEFEFE, #F2F6F7);
  background-image: -o-linear-gradient(top, #FEFEFE, #F2F6F7);
  background-image: linear-gradient(to bottom, #FEFEFE, #F2F6F7);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colorStr="#FEFEFE", end-colorStr="#F2F6F7");
  color: #222;
  border-radius: 50px;
  border: 1px solid #B4C8CD;
  outline: none;
}
.tab-panel-round .item .icon {
  margin-right: 5px;
}
.tab-panel-round .active {
  background-color: #FEFEFE;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#F2F6F7));
  background-image: -webkit-linear-gradient(top, #FEFEFE, #F2F6F7);
  background-image: -moz-linear-gradient(top, #FEFEFE, #F2F6F7);
  background-image: -ms-linear-gradient(top, #FEFEFE, #F2F6F7);
  background-image: -o-linear-gradient(top, #FEFEFE, #F2F6F7);
  background-image: linear-gradient(to bottom, #FEFEFE, #F2F6F7);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colorStr="#FEFEFE", end-colorStr="#F2F6F7");
  color: #222;
  border-radius: 50px;
  border: 1px solid #B4C8CD;
  outline: none;
}
.tab-panel-round .left-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.tab-panel-round .right-content {
  justify-content: flex-end;
}
.tab-panel-round .right-content .icon {
  font-size: 22px;
}

.action-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 250px;
  background-color: #f9f9fc;
  margin: 0 10px 10px 10px;
  border: 1px solid #e9e9ef;
}
.action-panel h2 {
  font-size: 1.2em;
  padding: 10px 0;
  border-bottom: 1px solid #e9e9ef;
  display: block;
  margin: 10px;
  font-weight: 600;
}

.action-item-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  align-items: flex-start;
  padding: 10px;
  overflow: auto;
}
.action-item-container .item {
  margin: 5px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  border: 1px solid #dfdfe2;
  border-radius: 3px;
  transition: 0.3s;
  color: #525252;
  background: white;
}
.action-item-container .item:hover {
  background: #525252;
  color: white;
}
.action-item-container .item .icon-holder {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #dfdfe2;
  padding: 8px;
  width: 34px;
}
.action-item-container .item .icon-holder i {
  font-size: 16px;
}
.action-item-container .disabled {
  background: #e9e9ef;
  color: #c1c1c1;
  cursor: not-allowed;
}
.action-item-container .disabled:hover {
  background: #e9e9ef;
  color: #c1c1c1;
}

.flex-column-container {
  display: flex !important;
  flex-direction: column;
  height: 100%;
}

.flex-max-height-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.both-mandatory {
  scroll-snap-type: both mandatory;
}

.section-header {
  margin-bottom: 5px;
  font-size: 1em;
  padding: 0 10px;
  border-bottom: 1px solid #ebe9f1;
  font-weight: 600;
  height: 35px;
  display: flex;
  align-items: center;
}

.layout-wrapper .layout-main .rightpanel-btn {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-top: -8px;
  margin-left: 14px;
}
.layout-wrapper .layout-main .rightpanel-btn i {
  font-size: 24px;
  color: #b6b7c2;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.layout-wrapper .layout-main .rightpanel-btn i:hover {
  color: #7f8087;
}
.layout-wrapper .layout-main .rightpanel-btn.rightpanel-btn-active i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #3D72B4;
}
.layout-wrapper .layout-rightpanel {
  position: fixed;
  top: 64px;
  height: 100%;
  right: -240px;
  width: 240px;
  z-index: 999;
  background-color: #ffffff;
  -moz-transition: right 0.3s;
  -o-transition: right 0.3s;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}
.layout-wrapper .layout-rightpanel.layout-rightpanel-active {
  right: 0;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.layout-wrapper .layout-rightpanel .layout-rightpanel-header {
  background: url("../../../assets/images/sidebar-image.jpg") no-repeat;
  height: 118px;
  padding: 14px;
}
.layout-wrapper .layout-rightpanel .layout-rightpanel-header .weather-day, .layout-wrapper .layout-rightpanel .layout-rightpanel-header .weather-date {
  color: #ffffff;
  left: 14px;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 4px;
}
.layout-wrapper .layout-rightpanel .layout-rightpanel-content {
  padding: 14px;
}
.layout-wrapper .layout-rightpanel .layout-rightpanel-content h1 {
  font-size: 18px;
  margin: 0 0 4px 0;
}
.layout-wrapper .layout-rightpanel .layout-rightpanel-content h2 {
  font-size: 16px;
  margin: 0;
  color: #737373;
  font-weight: normal;
}
.layout-wrapper .layout-rightpanel .layout-rightpanel-content .weather-today {
  text-align: center;
  margin-top: 28px;
}
.layout-wrapper .layout-rightpanel .layout-rightpanel-content .weather-today .weather-today-value {
  font-size: 36px;
  vertical-align: middle;
  margin-right: 14px;
}
.layout-wrapper .layout-rightpanel .layout-rightpanel-content .weather-today img {
  vertical-align: middle;
}
.layout-wrapper .layout-rightpanel .layout-rightpanel-content .weekly-weather {
  list-style-type: none;
  margin: 28px 0 0 0;
  padding: 0;
}
.layout-wrapper .layout-rightpanel .layout-rightpanel-content .weekly-weather li {
  padding: 8px 14px;
  border-bottom: 1px solid #d8dae2;
  position: relative;
}
.layout-wrapper .layout-rightpanel .layout-rightpanel-content .weekly-weather li .weekly-weather-value {
  position: absolute;
  right: 40px;
}
.layout-wrapper .layout-rightpanel .layout-rightpanel-content .weekly-weather li img {
  width: 24px;
  position: absolute;
  right: 0px;
  top: 4px;
}
.layout-wrapper .layout-rightpanel .ui-scrollpanel {
  border-radius: 0;
  border: none;
}
.layout-wrapper .layout-rightpanel .ui-scrollpanel .ui-scrollpanel-hidden {
  display: block;
  visibility: hidden;
}
.layout-wrapper .layout-rightpanel .ui-scrollpanel .right-panel-scroll-content {
  width: 258px;
  padding-right: 18px;
  padding-bottom: 120px;
}

@media (max-width: 1280px) {
  .layout-wrapper .layout-sidebar {
    left: -270px;
    width: 270px;
    height: 100%;
    top: 0;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  }
  .layout-wrapper .layout-main {
    margin-left: 0;
    left: 0;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
  .layout-wrapper .layout-main .layout-topbar {
    width: 100%;
  }
  .layout-wrapper .layout-main .layout-topbar .menu-btn {
    display: inline-block;
    margin-right: 14px;
  }
  .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu-btn {
    display: inline-block;
  }
  .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu {
    display: none;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  }
  .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active {
    position: fixed;
    top: 61px;
    right: 50px;
    width: 250px;
    display: block;
    padding: 8px 0;
    background-color: #ffffff;
  }
  .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li {
    float: none;
    display: block;
    margin: 0;
  }
  .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > a {
    padding: 8px 14px;
    display: block;
  }
  .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > a:hover {
    background-color: #f1f2f7;
  }
  .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > a i {
    display: inline-block;
    vertical-align: middle;
  }
  .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > a .topbar-item-name {
    display: inline-block;
    vertical-align: middle;
  }
  .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > a .topbar-badge {
    position: static;
    float: right;
  }
  .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > ul {
    position: static;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding: 0;
    width: 100%;
  }
  .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li > ul a {
    padding-left: 28px;
  }
  .layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu.topbar-menu-active > li.profile-item img {
    display: none;
  }
  .layout-wrapper .layout-main .layout-topbar .topbar-search input:focus {
    width: 150px;
  }
  .layout-wrapper.layout-mobile-active {
    overflow: hidden;
  }
  .layout-wrapper.layout-mobile-active .layout-sidebar {
    left: 0;
  }
  .layout-wrapper.layout-mobile-active .layout-main {
    position: fixed;
    left: 270px;
  }
  .layout-wrapper.layout-mobile-active .layout-main-mask {
    z-index: 999998;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  body.hidden-overflow {
    overflow: hidden;
  }
}
@media (max-width: 320px) {
  .layout-wrapper .layout-main .layout-topbar .topbar-search input {
    width: 100px;
  }
  .layout-wrapper .layout-main .layout-topbar .topbar-search input:focus {
    width: 120px;
  }
}
.landing-page {
  height: 100vh;
  background-color: #00a1fd;
  background: radial-gradient(circle, #00a1fd 0%, #0583e4 31%, #191a8b 100%);
  background-size: cover;
  color: white;
  overflow: hidden;
}

.backdrop-image {
  width: 100vw;
  height: 100vh;
}

.backdrop-animation {
  animation: swing ease-in-out 20s infinite alternate;
  transform-origin: center -20px;
  float: left;
}
.backdrop-animation img {
  display: block;
}
.backdrop-animation::after {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 22%;
  bottom: 0;
  margin: auto;
}

.card {
  background-color: transparent;
  border: 1px solid #ffffff78;
  cursor: pointer;
  height: 150px;
  border-radius: 7px;
}
.card:hover {
  transition: 0.5s;
}

.card-block {
  margin: auto;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-gap: 10px;
  font-size: 12px;
  text-align: center;
  background: #ffffff0d;
  width: 680px;
  border-radius: 10px;
  padding: 27px 27px;
}

.fill-card:hover {
  box-shadow: inset 0 0 0 100px #00BFF3;
  transition: 1.2s;
}
.fill-card:hover div > img {
  transform: translateY(-8px);
  transition: 0.5s;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .content {
    top: 11%;
  }

  .greeting-msg {
    font-size: 22px;
  }

  .log-in-details {
    font-size: 12px;
  }
}
.greeting-msg {
  line-height: 13px;
  letter-spacing: 2px;
  font-weight: 400;
}

.font-size-small {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
}

.font-size-regular {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

.font-size-large {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Light.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/OpenSans-Light.eot#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.eot#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/Lato-Light.eot#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg#OpenSans-Light") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#OpenSans-Regular") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.eot#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg#OpenSans-Bold") format("svg");
  /* Legacy iOS */
}
/* Add your customizations of layout here */
/* Add your variable customizations of layout here */
.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.height-fit-content {
  height: fit-content;
}

.app-form-group {
  margin-bottom: 1rem;
}
.app-form-group label {
  margin-bottom: 0.3rem;
  color: black;
}
.app-form-group .app-form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #292b2c;
  background-color: #ffffff;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.app-form-group .app-form-control:focus {
  color: #495057;
  background-color: #fff;
}
.app-form-group .app-form-control:disabled {
  background: #f3f2f7;
}
.app-form-group .app-form-control-lg {
  display: block;
  width: 100%;
  color: #292b2c;
  background-color: #ffffff;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1.25em;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.app-form-group .app-form-control-lg:focus {
  color: #495057;
  background-color: #fff;
}
.app-form-group .app-form-control-lg:disabled {
  background: #f3f2f7;
}
.app-form-group .app-form-control-sm {
  display: block;
  width: 100%;
  color: #292b2c;
  background-color: #ffffff;
  padding: 0.25rem 0.5rem;
  font-size: 0.875em;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.app-form-group .app-form-control-sm:focus {
  color: #495057;
  background-color: #fff;
}
.app-form-group .app-form-control-sm:disabled {
  background: #f3f2f7;
}
.app-form-group .k-textbox {
  height: auto;
}
.app-form-group .k-textarea {
  min-height: calc( 0.75rem + 6em);
}
.app-form-group .k-textbox-container.k-state-focused > .k-label {
  transform: translate(-0.75rem, -0.6rem) translate(-1px, -1.125em) translate(-12.5%, -9.375%) scale(0.75);
}
.app-form-group .k-datepicker {
  padding: 0 !important;
}
.app-form-group .k-switch {
  border-radius: 5em;
  width: 5em;
  background: none;
  border: 0;
  font-size: 0.75rem;
}
.app-form-group .k-switch .k-switch-container {
  border-radius: 5em;
  padding: 3px 3px;
  transition: background-color 200ms ease-out 0s;
}
.app-form-group .k-switch .k-switch-container .k-switch-handle {
  border-radius: 5em;
  width: 2em;
  height: 2em;
  transition: left 200ms ease-out 0s;
}
.app-form-group .k-button {
  border-radius: 0.25rem;
  font-size: 14px;
  line-height: 1.5;
}
.app-form-group .k-button:hover {
  border-color: #c7cdd5;
  color: #212529;
  background-color: #ced3db;
}
.app-form-group .k-button .k-primary {
  border-color: #57ca85;
  color: #ffffff;
  background-color: #57ca85;
}
.app-form-group .k-button .k-primary:hover {
  border-color: #39b56b;
  color: #ffffff;
  background-color: #3cbf70;
}
.app-form-group .k-button [disabled], .app-form-group .k-button [disabled] .k-button {
  opacity: 0.65;
  filter: grayscale(0.1);
}
.app-form-group .k-combobox {
  padding: 0 !important;
}
.app-form-group .k-combobox .k-dropdown-wrap {
  border-color: rgba(33, 37, 41, 0.15);
  color: #292b2c;
  background-color: #ffffff;
}
.app-form-group .k-combobox .k-dropdown-wrap .k-input {
  padding: 0.375rem 0.75rem;
  height: calc( 0.75rem + 1.5em);
}
.app-form-group .k-combobox .k-dropdown-wrap .k-select {
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0.375rem 0.375rem;
}
.app-form-group .k-dropdown {
  padding: 0 !important;
}
.app-form-group .k-dropdown .k-dropdown-wrap {
  border-color: #e4e7eb;
  color: #292b2c;
  background-color: #e4e7eb;
}
.app-form-group .k-dropdown .k-dropdown-wrap .k-input {
  padding: 0.375rem 0.75rem;
  height: calc( 0.75rem + 1.5em);
}
.app-form-group .k-dropdown .k-dropdown-wrap .k-select {
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0.375rem 0.375rem;
}
.app-form-group .k-multiselect {
  padding: 0 !important;
}
.app-form-group .k-multiselect .k-multiselect-wrap::before {
  width: 0;
  height: calc( 1.5em + 0.75rem);
}
.app-form-group .k-window {
  border-radius: 0.25rem;
  padding: 0;
  border-color: rgba(33, 37, 41, 0.125);
  color: #292b2c;
  background-color: #ffffff;
}
.app-form-group .k-window .k-window-titlebar {
  border-color: rgba(33, 37, 41, 0.125);
  color: #292b2c;
  background-color: #ffffff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 1rem 1rem 1rem 1rem;
}
.app-form-group .k-window .k-window-titlebar .k-window-title {
  margin: -0.15em 0;
  font-size: 1.25rem;
  line-height: 1.3;
}
.app-form-group .k-window .k-window-titlebar .k-window-actions {
  margin: calc( -0.375rem + -1px);
  line-height: 1;
}
.app-form-group .k-window .k-window-content, .app-form-group .k-window .k-prompt-container {
  padding: 1rem 1rem;
  color: inherit;
  background: none;
}
.app-form-group .k-window .k-dialog-buttongroup {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 0;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: inherit;
}
.app-form-group .k-grid {
  border-color: rgba(33, 37, 41, 0.125);
  color: #292b2c;
  background-color: #ffffff;
}
.app-form-group .k-grid .k-grid-header {
  font-size: 14px !important;
}
.app-form-group .k-grid .k-grid-header .k-grid th, .app-form-group .k-grid .k-grid-header .k-grid td {
  padding: 0.75rem 0.75rem;
  border-width: 0 0 1px 1px;
}
.app-form-group .k-grid .k-grid-header .k-filter-row {
  line-height: 1.5;
}
.app-form-group .k-grid .k-filtercell .k-filtercell-wrapper > .k-textbox {
  width: 100%;
  min-width: 0;
}
.app-form-group .k-grid .k-filtercell .k-filtercell-operator > .k-dropdown {
  width: auto !important;
}
.app-form-group .k-popup {
  border-radius: 0.25rem;
  margin: 0.125rem 0 0 0;
}

.main-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding: 15px;
}
.main-container .main-panel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-left: 0px;
  width: 100%;
}
.main-container .left-panel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-left: 0px;
  width: 100%;
}
.main-container .right-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
  margin-left: 15px;
}
.main-container .centered-div-container {
  display: flex;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main-container .data-panel-details {
  display: flex;
  flex-grow: 1;
  padding: 10px;
}
.main-container .data-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.scrollable-main-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
}
.scrollable-main-container .two-section-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-rows: min-content 100%;
}
.scrollable-main-container .two-section-wrapper .section {
  width: 100%;
  height: 100%;
  scroll-snap-stop: normal;
  display: grid;
  grid-gap: 0;
  overflow: auto;
  scroll-snap-align: start;
}
.scrollable-main-container .two-section-wrapper .section .top-bar {
  display: flex;
  width: 100%;
}
.scrollable-main-container .two-section-wrapper .section .top-bar .header-item-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.scrollable-main-container .two-section-wrapper .section .top-bar .header-item-container .label {
  font-size: 0.8em;
}
.scrollable-main-container .two-section-wrapper .section .top-bar .header-item-container .data {
  font-weight: 600;
}
.scrollable-main-container .two-section-wrapper .section .chart-panel {
  display: flex;
  height: 175px;
  width: 100%;
}
.scrollable-main-container .two-section-wrapper .section .chart-panel .left-chart {
  width: 65%;
  background: #ffffff;
}
.scrollable-main-container .two-section-wrapper .section .chart-panel .right-chart {
  width: 35%;
  background: #ffffff;
}

.sub-component-contianer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.sub-component-contianer .filter-panel-container {
  background-color: white;
  position: relative;
}
.sub-component-contianer .filter-panel-container .filter-panel {
  display: flex;
  background-color: white;
  border-top: 1px solid #e9e9f1;
  border-bottom: 1px solid #e9e9f1;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sub-component-contianer .filter-panel-container .filter-panel .left-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.sub-component-contianer .filter-panel-container .filter-panel .middle-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.sub-component-contianer .filter-panel-container .filter-panel .right-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.sub-component-contianer .filter-panel-container .filter-panel .filter-control-container label {
  margin-right: 10px;
  margin-bottom: 0;
}

.loading-bar {
  height: 3px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #f1f1f156;
  z-index: 99;
}
.loading-bar:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 3px;
  background-color: #7f7f7f;
  animation: loading-bar 2s linear infinite;
}
@keyframes loading-bar {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  to {
    left: 120%;
  }
}

.loading-overlay {
  background: #b2b1bd46;
  display: block;
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spinner-circle-swish {
  color: #525252 !important;
}

.spinner-sk-rotateplane {
  background-color: #525252 !important;
}

.spinner-rectangle-bounce .rect1 {
  background-color: #525252 !important;
}
.spinner-rectangle-bounce .rect2 {
  background-color: #525252 !important;
}
.spinner-rectangle-bounce .rect3 {
  background-color: #525252 !important;
}
.spinner-rectangle-bounce .rect4 {
  background-color: #525252 !important;
}
.spinner-rectangle-bounce .rect5 {
  background-color: #525252 !important;
}

.spinner-wandering-cubes .cube1 {
  background-color: #525252 !important;
}
.spinner-wandering-cubes .cube2 {
  background-color: #7f7f7f !important;
}

.spinner-double-bounce .double-bounce1 {
  background-color: #525252 !important;
}
.spinner-double-bounce .double-bounce2 {
  background-color: #7f7f7f !important;
}

.router-load-bg {
  background: #00000025;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.router-load-bg .router-load-indicator-out {
  background-color: #3d72b4;
  background-image: -webkit-gradient(linear, left top, right top, from(#3d72b4), to(#525252));
  background-image: -webkit-linear-gradient(to right, #3d72b4, #525252);
  background-image: -moz-linear-gradient(to right, #3d72b4, #525252);
  background-image: -ms-linear-gradient(to right, #3d72b4, #525252);
  background-image: -o-linear-gradient(to right, #3d72b4, #525252);
  background-image: linear-gradient(to right, #3d72b4, #525252);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d72b4", endColorstr="#525252", gradientType="1");
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.router-load-bg .router-load-indicator-in {
  background: #e4e4e4;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #1f1f1f;
}

.button-container {
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
}
.button-container .button-item {
  display: flex;
  align-items: center;
  border-right: 1px solid #e0e4e8;
  border-top: 1px solid #e0e4e8;
  border-bottom: 1px solid #e0e4e8;
  padding: 5px 10px;
  cursor: pointer;
  height: 32px;
  padding: 0 10px;
  align-items: center;
}
.button-container .button-item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.button-container .button-item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid #e0e4e8;
}
.button-container .button-item .box {
  background: #3D72B4;
  height: 20px;
  width: 20px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.button-container .button-item .soft {
  background: #55d7fe;
  color: #fff;
}
.button-container .button-item .reminder {
  background: #f1bf56;
  color: #fff;
}
.button-container .button-item .final {
  background: #ff8373;
  color: #fff;
}

.switch-button .active {
  background: #3D72B4;
  color: #ffffff;
}
.switch-button .active .box {
  background: #d6d6d64a;
}

.tab-button .active {
  color: #468dff;
  font-weight: 600;
}

.action-button {
  color: #ffffff;
  background-color: #525252;
  border: 1px solid #525252;
}

.action-button-menu {
  color: #ffffff;
  background-color: #525252;
  border: 1px solid #525252;
}

.action-button-sub-item {
  color: #ffffff;
  background-color: #525252;
  border: 1px solid #525252;
}

/*# sourceMappingURL=layout-blue-grey.css.map */
