
<div class="trip_scheduler_filter">
    <div class="row stepper-wrapper">
        <div class="col-md-12">

            <!-- Stepers Wrapper -->
            <ul class="stepper stepper-horizontal d">

                <!-- First Step -->
                <li class="completed" (click)="filterClick()"> 
                  
                        <span class="circle"></span>
                        <span class="label">Filtering</span>
                   
                </li>

                <!-- Second Step -->
                <li class="active" (click)="preparationsClick()">
                    
                        <span class="circle"></span>
                        <span class="label">Preparation</span>
                    
                </li>

                <!-- Third Step -->
                <li class="active" (click)="SchedulingClick()">
                    
                        <span class="circle"><i class=""></i></span>
                        <span class="label">Scheduling</span>
                    
                </li>

            </ul>
            <!-- /.Stepers Wrapper -->
        </div>
    </div>
    
</div>


<div class="master_wrapper d-flex w-100 justify-content-center align-items-center" *ngIf="Filtering" >

            <div class="produts_resource_wrapper">
<!--                 
                <div class="filter-control-container  flex-row ml-2"> 
                    <kendo-datepicker  placeholder="Start Date"></kendo-datepicker>
                  </div> -->
            </div>


        <div class="resources_wrapper">
            
        </div>
</div>