

.produts_resource_wrapper{  
background-color: white;
border: 1px #e3e1e1 solid;
width: 400px;
height:400px

}

.resources_wrapper{
    background-color: white;
    border: 1px #e3e1e1 solid;
    width: 400px;
    height:400px
    
    }

:host{
width:100vw;
height:100vh;

}

.stepper-wrapper {
    padding: 20px 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

.stepper-horizontal {
    display: flex;
    justify-content: center;
}
a {
    color: #66656a;
}

li {
    margin:0 30px;
    border-radius: 20px;
    border: 1px solid ;
    list-style: none;
    padding: 5px 10px;
    position: relative;
    min-width: 120px;
    text-align: center;
}

.active {
    border: 1px solid #66656a;
    background-color: #e6e6e6;
}

.completed {
    border: 1px solid #586da3;
    background-color: #729aef;
}

.completed a {
    color: white;
}

li:not(:last-child)::after  {
    content: '';
    position: absolute;
    top: 50%;
    right: -60px;
    width: 58px;
    height: 1px;
    background-color: #babbbf;
    z-index: 2;
}